
img[alt*=avatar]{
    width:200pt;
    min-height:200pt;
}


img[alt*=company_logo]{
    top: 20mm;
    width:100pt;
    min-height:100pt;
}

img[alt*=gdg_logo]{
    top: 20mm;
    width:100pt;
    min-height:100pt;
}


img[alt*=dev_code]{
  top: 0em;
  left: 7em;
  width: 30pt;
  min-height:30pt;
}

img[alt*=dev_gen]{
  top: 2.4em;
  left: 7em;
  width: 30pt;
  min-height:30pt;
}

img[alt*=dev_res]{
  left: 7em;
  top: 7em;
  width: 30pt;
  min-height:30pt;
}

img[alt*=dev_manifest]{
  left: 7em;
  top: 12em;
  width: 30pt;
  min-height:30pt;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
}