@import "./font";

// Colors
$light-grey: #ddd;
$white: white;
$medium-grey: #817c7c;
$black: #333;
$dark-grey: #3d4349;
$dark-grey-alpha: rgba(61, 67, 73, 0.7);
// Material colors :
$red: #e57373;
$green: #aed581;
$deep-purple: #673AB7;
$light-color-white: #ede7f6;
// Background Colors
$code-bg: #3f3f3f;
$page-bg-color:$deep-purple; //$light-grey;
$slide-bg-color: $white;
$header-color: $dark-grey;
// Text Colors
$main-title-color: $light-color-white; //$red;
$title-color: $medium-grey;
$text-color: $black;
// Commons slides
body,
html {
    background: $page-bg-color;
}

.reveal .slides section p+p {
    margin-top: 40px;
}

.reveal .slides section:not(.first-slide):not(.last-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black):not(.with-code) {
    width: 100%;
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    h1,
    h2 {
        color: $light-color-white; // $red;
        font-size: 1.5em;
        font-weight: 800;
        text-align: left;
        padding-left: 25px;
        margin-left: 5px;
    }
    h1,
    h2,
    h3 {
        margin-bottom: 50px;
        text-align: left;
        //font-size: 2.5em;
    }
    h1~h2,
    h2~h3,
    h1~h3 {
        margin-top: -30px;
        padding-left: 30px;
        color: $light-color-white; //$medium-grey;
    }
}

.reveal blockquote::before {
    content: '\“';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.reveal blockquote::after {
    content: '\”';
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    width: 50px;
    height: 50px;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 1em;
    text-align: left;
    font-style: italic;
    background: $white;
    color: $medium-grey;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

// Specifics slides !!
.reveal .slides section.first-slide {
    color: $light-color-white; // $black;
    background: $deep-purple; //$light-grey;
    h1 {
        color: $light-color-white;
        margin-top: 150px;
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 20px;
    }
    h3 {
        color: $light-color-white; //$medium-grey;
    }
}

.reveal .slides section.last-slide {
    text-align: center;
    color: $medium-grey;
    .presenter {
        color: $black;
        top: 1.5em;
        height: 2em;
        line-height: 2em;
        font-size: 1.2em;
        font-weight: 600;
    }
    .topic-title {
        color: $red;
        top: 0;
        height: 1.7em;
        font-size: 2em;
    }
    img[alt*=avatar],
    img.avatar {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -150px;
    }
}

.reveal .slides section[data-background],
.reveal .slides section[class*="transition"],
.reveal .slides section.transition,
.reveal .slides section.transition-white,
.reveal .slides section.transition-black,
{
    background: rgba(0, 0, 0, 0);
}

.reveal .slides section[data-background],
.reveal .slides section[class*="transition"],
.reveal .slides section.transition,
.reveal .slides section.transition-white,
.reveal .slides section.transition-black {
    h1 {
        color: $light-color-white; //$red;
        margin-top: 150px;
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    /*h1{
        @include bandeau();
        text-align: left;
        padding-left : 10px;
        font-size: 1.2em;
    }*/
}

.reveal .slides section.transition-black h1,
.reveal .slides section.transition.text-white h1 {
    color: $light-color-white;
}

.reveal .slides section.transition.text-green h1 {
    color: $green;
}

.reveal .slides section.transition.text-red h1 {
    color: $red;
}

.reveal .slides section.transition h1.h1-light {
    font-size: 50px;
    text-transform: initial;
}

div.flex-hori {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .space {
        margin: 20px 50px;
    }
}

div.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.flex-col.left-align {
    align-items: flex-start;
}

div.padding~* {
    padding-left: 50px;
}

svg.color-white {
    fill: $light-color-white;
    stroke: $light-color-white;
}

svg.color-green {
    fill: $green;
    stroke: $green;
}

svg.color-red {
    fill: $red;
    stroke: $red;
}

svg#happy {
    stroke-width: 0px;
}

span.webspecs {
    color: $light-color-white;
    text-transform: uppercase;
    line-height: 150px;
}

.clip_path {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //clip-path: inset(19% 17% 34% 10%);
    //background: red;
    //-webkit-mask: url(#code-mask);
    //mask: url(#code-mask);
    //clip-path: polygon(0 29%, 100% 27%, 100% 100%, 0% 100%);
}

.clip_path:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}