

.reveal .slides section {
    /**
    * Block Quote Management
    */
    blockquote {
        box-shadow: initial;
        font-size: 1.5em;
    }

    code.hljs.has-highlights table tr:not(.highlight-line){
        opacity: 0.1;
    }

}