@import "compass";
@import "colors";
@import "fonts";
@import "tableaux";
@import "specifics_slides_print";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

.reveal{ 
    font-size: 1.25em;
}


.reveal .slides>section , .reveal .slides>section>section{


    h1, h2{
        font-size: 1.5em;
    }
   
}
