<script>
	const EventBusMixin = subclass => class extends subclass {

		constructor() {
			super();
			this.mapSubscription = {};
		}


		subscribeForKey(key, callback) {
			if (key === null ||
				key === undefined ||
				key.length === 0) {
				console.warn('key is not valid ! ', key);
				return;
			}
			if (callback === null ||
				callback === undefined ||
				!this._isFunction(callback)) {
				console.warn('Callback method is not valid ! ', callback);
				return;
			}

			if (Array.isArray(key)) {
				key.forEach((keyTmp) => {
					if (keyTmp === null ||
						keyTmp === undefined ||
						keyTmp.length === 0) {
						console.warn('keyTmp is not valid ! ', keyTmp);
					} else {
						this._registerKey(keyTmp, callback);
					}
				});
			} else {
				this._registerKey(key, callback);
			}

		}

		unsubscribeKey(key) {
			try {
				delete this.mapSubscription[key];
			} catch (e) {
				console.warn(`Error while unsubscribing key '${key}'`);
			}
		}

		broadcastAction(type, data) {
			if (type === null ||
				type === undefined ||
				type.length === 0) {
				console.warn('type is not valid ! ', type);
				return;
			}
			if (data === null ||
				data === undefined) {
				console.warn('data method is not valid ! ', data);
				return;
			}

			if (Array.isArray(data)) {
				data.forEach((dataToBroadCast) => {
					this.reduceAction({
						detail: {
							type: type,
							data: dataToBroadCast
						}
					});
				})
			} else {
				this.reduceAction({
					detail: {
						type: type,
						data: data
					}
				});
			}
		}

		reduceAction(event) {
			if (event.detail !== null && event.detail !== undefined) {
				const callBackArrayRegister = this.mapSubscription[event.detail.type];
				if (callBackArrayRegister) {
					callBackArrayRegister.forEach((callback) => {
						callback(event.detail.type, event.detail.data);
					});
				}
			}
		}

		/***
		 *
		 * PRIVATES FUNCTIONS
		 *
		 */

		_registerKey(key, callback) {
			let callbackArray = this.mapSubscription[key];
			if (!callbackArray) {
				callbackArray = [];
				this.mapSubscription[key] = callbackArray;
			}
			callbackArray.push(callback);
		}

		_isFunction(functionToCheck) {
			var getType = {};
			return functionToCheck && getType.toString.call(functionToCheck) === '[object Function]';
		}

	};

</script>
