$left-first: 60px;
$left-tab: 100px;
$line-height: 1.15em;
.highlight-code {
	background-color: rgba(255, 235, 59, 0.3);
	height: 1.4em;
	position: absolute;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-fonction: linear;
}


/*#highlight-connect-ble{
	width:90%;
	top:90px;
	left:$left-first;
}*/


/*#highlight-connect-by-name{
	width:400px;
	top:90px;
	left:650px;
}*/


/*#highlight-connection{
	width:400px;
	top:180px;
	left:$left-tab;
}*/


/*#highlight-read-charact {
	width: 700px;
	top: 90px;
	left: $left-first;
}*/


/*#highlight-write-charact {
	width: 650px;
	top: 90px;
	left: $left-first;
}*/


/*#highlight-vibrate {
	width: 350px;
	top:calc(90px + (4 * #{$line-height});
	left: $left-first;
}*/


/*#highlight-orientation {
	width: 850px;
	top:calc(90px + #{$line-height});
	left: $left-tab;
}*/


/*#highlight-motion {
	width: 950px;
	top:calc(90px + (10 * #{$line-height}));
	left: $left-tab;
}*/


/*#highlight-battery {
	width: 950px;
	top: 90px;
	left: $left-first;
	height: 2.4em;
}*/

#highlight-user-media-v1 {
	width: 500px;
	top:calc(90px + #{$line-height});
	left: $left-first;
}

#highlight-user-media-v2 {
	width: 600px;
	top: calc(90px + 10.35em);
	left: 100px;
}

#highlight-user-media-v2-2 {
	width: 750px;
	top: calc(90px + 12.65em);
	left: 60px;
	height: 2.4em;
}

#highlight-device-proximity {
	width: 1000px;
	top: calc(90px + 5.75em);
	left: 100px;
}

#highlight-user-proximity {
	width: 1000px;
	top: calc(90px + 8.05em);
	left: 100px;
}

#highlight-web-speech {
	width: 600px;
	top: 90px;
	left: 60px;
}

#highlight-web-speech-grammar {
	width: 1200px;
	top: 90px;
	left: 60px;
}

#highlight-web-speech-synthesis {
	width: 500px;
	top: 90px;
	left: 60px;
}

#highlight-notification {
	width: 800px;
	top: calc(90px + 1.15em);
	left: 100px;
}

#highlight-visibility {
	width: 550px;
	top: calc(90px + 1.15em);
	left: 100px;
}