@mixin qui-veut-gagner($prefix){
  #{$prefix}.qui-veut-gagner{

    $height_question : 3em;
    $width_triangle_question : 50px;
    $height_resp : 1.5em;
    $width_triangle_resp : 20px;

    height: 100%;

    h1{
      position:absolute;
      font-size: $height_question / 3;
      line-height : $height_question / 3;
      width:80%;
      margin-left:-40%;
      left: 50%;
      bottom : 300px;
      height: $height_question;
      background: black;
      color: white;
      border: solid blue 2px;  
    }

    h1:before{
      content: "";
      position: absolute;
      top: 0;
      left: -($width_triangle_question - 1px);
      width: 0;
      height: 0;
      border-top: calc( #{$height_question} / 2 + 2px) solid transparent;
      border-right: $width_triangle_question solid black;
      border-bottom: calc( #{$height_question} / 2 + 2px) solid transparent;
    }
   
    h1:after{
      content: "";
      position: absolute;
      top: 0;
      right: -($width_triangle_question - 1px);
      width: 0;
      height: 0;
      border-top: calc( #{$height_question} / 2 + 2px) solid transparent;
      border-left: $width_triangle_question solid black;
      border-bottom: calc( #{$height_question} / 2 + 2px) solid transparent;
    }

    h2{
      position:absolute;
      font-size: $height_resp / 2;
      line-height : $height_resp / 2;
      width:40%;
      height: $height_resp;
      background: black;
      color: white;
      border: solid blue 2px;  
    }

    h2:before{
      content: "";
      position: absolute;
      top: 0;
      left: -($width_triangle_resp - 1px);
      width: 0;
      height: 0;
      border-top: calc( #{$height_resp} / 2 + 2px) solid transparent;
      border-right: $width_triangle_resp solid black;
      border-bottom: calc( #{$height_resp} / 2 + 2px) solid transparent;
    }

    h2:after{
      content: "";
      position: absolute;
      top: 0;
      right: -($width_triangle_resp - 1px);
      width: 0;
      height: 0;
      border-top: calc( #{$height_resp} / 2 + 2px) solid transparent;
      border-left: $width_triangle_resp solid black;
      border-bottom: calc( #{$height_resp} / 2 + 2px) solid transparent;
    }

    h2:nth-of-type(1), h2:nth-of-type(2){
      left:10px;
    }

    h2:nth-of-type(3), h2:nth-of-type(4){
      left:calc(50% + 10px);
    }

    h2:nth-of-type(1), h2:nth-of-type(3){
      bottom:200px;
    }

    h2:nth-of-type(2), h2:nth-of-type(4){
      bottom:100px;
    }

    .chart-resp{
      position: absolute;
      right: 100px;
      background: black;
    }
  }
}