@import "../theme/2015/binomed/colors";

img[alt*=logo]{
    width:50px;   
}

.reveal .slides section.who-am-i img[alt*=company_logo] {
    position: absolute;
    top: 490px;
    left: 250px;
    height: 100px;
    width:inherit;
}


body .reveal .slides.binomed{
  .url_jeux.rawgit, img[alt*=rawgit]{
    display:none;
  }  
}

body .reveal .slides.rawgit{
  .url_jeux.binomed, img[alt*=binomed]{
    display:none;
  }
}

.reveal .slides section.first-slide{
  height: 100%;

  h1{
    height: 3em;
    line-height: 3em;
    font-size: 1.5em;
        
  }
}

$sommaire-img-height : 60px;


strong{
  font-weight:600 !important;
}

div.no-bullet~ul{
  list-style-type: none;

  img{
    margin:0; 
  }

  li{
    line-height: $sommaire-img-height;
  }
}

div.padding~*{
  padding-left: 50px;
}



.copyright.black{
  color: grey;
  bottom: 20px;
}

div.copyright{
    font-size: 0.6em;
    color: $medium-grey ;
    position: absolute;
    bottom: 20px;
    right: 0;
}

div.copyright.white{
  color: $white;
}

div.copyright:before{
    content: '@'
}

@import "qui_veut_gagner";
$height_question : 8rem;
$width_triangle_question : 50px;
$height_resp : 4rem;
$width_triangle_resp : 20px;
.reveal .slides section[data-background].transition.qui-veut-gagner{
  height: 100%;
}
@include qui-veut-gagner(".reveal .slides section[data-background].transition ", 
  $height_question,
  $width_triangle_question,
  $height_resp,
  $width_triangle_resp);

.url_jeux.grey a{
  color:#3d4349;
}

.url_jeux a{
  color:white;
}

.reveal .slides section[data-background].transition .qui-veut-gagner{
 
  .resp.good.show{
    transition: background 1s;
    background: green;
  }
  .resp.good.show:before{
    transition: border-right-color 1s;
    border-right-color: green;
  }
  .resp.good.show:after{
    transition: border-left-color 1s;
    border-left-color: green;
  }
}

.reveal .slides section.flex-p p{
  display:flex;
  justify-content: space-around;

}

.reveal .slides section pre code.toHilight mark.dilluate{
  background-color: inherit;
  color: inherit;
  opacity: 0.5;
}

.reveal .slides section #demoSpeech{
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -220px;
  background: rgba(0,0,0,.75);
  color: white;
  padding: 20px;

  i{
    color : grey;
  }
}

@import "compat";
@import "sensors";