@import "compass";
@import "colors";
@import "fonts";
@import "tableaux";
@import "specifics_slides";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";


body, html{ 
	background:$page-bg-color;
}

.reveal{ 
    /*font-size: 1.25em;*/
}


.reveal ul{
	list-style-type: disc;
}
.reveal ol, .reveal dl, .reveal ul {
	//display: inline-block;
	text-align: left;
	margin: 0 0 0 1em;
}

a:link, a:focus, a:hover{
 color: lighten($red,10%);;
}
a:active, a:visited{
	color : darken($red,20%);
}


.reveal .slides section p+p{
  margin-top: 40px;
}

.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black){

	width: 100%;
	height: calc(100% - 40px);
	height: -webkit-calc(100% - 40px);
	//background: $white;

    h1, h2{
    	color: $red;
        font-size: 1.5em;
        border-left: 5px solid $dark-grey;
        text-align: left;
        padding-left: 10px;
        margin-left: 5px;
    }
    
    h1, h2, h3{
    	margin-bottom: 50px;
    	text-align: left;
        //font-size: 2.5em;
	}

   	h1~h2, h2~h3, h1~h3{
    	margin-top: -30px;
    	padding-left: 15px;
    	color: $medium-grey;
    }

   
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 20px auto;
	padding: 5px;
	font-style: italic;
	background: $white;
	color: $medium-grey;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.reveal q, .reveal blockquote {
	quotes: none;
}




pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 20px auto;
	text-align: left;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal pre code {
	display: block;
	padding: 10px;
	overflow: auto;
	max-height: 500px;
	word-wrap: normal;
    font-size: 0.55em;
	font-family: monospace;
}

