@import "colors";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@mixin bandeau(){
    width:100%;
    height: 3em;
    line-height: 3em;
    background :$dark-grey;
    text-align: left;
    padding-left: 20px;
    color: white;
    @include dropshadow();
}

.reveal .slides section.first-slide{
	position: absolute;	
    color: $red;
    background : $light-grey;

 	h1{
        @include bandeau();
        margin-top:150px;
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 40px;
        
 	}
}

.reveal  .slides section.who-am-i{
	
	color : white;
	text-align: center;

	h2{
        @include bandeau();
        line-height: 2em;
        height: 2em;
        font-size: 2em;
        margin-top: -20px;
		margin-bottom: 20px;
	}

	h3{
		font-size: 1.2em;
        color : $medium-grey;
		margin-bottom: 20px;	
	}
 
	
}


.reveal  .slides section.last-slide{
	
	text-align: center;

    
    .presenter{
        color: $medium-grey;
        top:1.5em;
        height:2em;
        line-height:2em;
        font-size:1.2em;
        font-weight:600;
    }
    
    .topic-title{
        top:0;
        height:1.7em;
        font-size:2em;
        line-height:1.7em;
        font-weight:800;
    }
    
    
    .work-rule{
        top:calc(50% + 150px);
        height:1em;
        font-size:1em;
        line-height:1em;
        font-weight:400;
    }
    
    .email{
        top:calc(50% + 150px + 2em);
        height:1em;
        font-size:1em;
        line-height:1em;
        font-weight:400;
    }
    
    .thank-message{
        bottom:0em;
        height:2em;
        font-size:2em;
        line-height:2em;
        font-weight:600;
    }
    
    
    img[alt*=avatar], img.avatar{
        position:absolute;
        width:300px;
        height:300px;
        top:50%;
        left:50%;
        margin-left:-150px;
        margin-top: -150px;
    }

	
}

.reveal .slides section[data-background],
.reveal .slides section[class*="transition"],
.reveal .slides section.transition,
.reveal .slides section.transition-white,
.reveal .slides section.transition-black,{
    background : rgba(0,0,0,0);
}

/*.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{

	position: absolute;
	width: 100%;
	height: 1.4em;
	font-size: 2.8em;
	line-height: 1.4em;
	padding-left: 20px;
	background: rgba(0,0,0,0.7);
	color: $red;
	text-align: left;
	top: 10%;

}*/


.reveal .slides section[data-background],
.reveal .slides section[class*="transition"]
.reveal .slides section.transition,
.reveal .slides section.transition-white,
.reveal .slides section.transition-black{
    h1{
        @include bandeau();
        text-align: left;
        padding-left : 10px;
        font-size: 1.2em;
    }
}

.reveal .slides section.transition-black h1{
	background: $light-grey;
    color: $black;

}

.reveal .slides section[data-background].transition h1{
    background : $dark-grey-alpha;
}


/*.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{
	//border-left : 5px solid $dark-grey;
    @include bandeau();
    
}*/

.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon{
    position: absolute;
    top: 2em;
    right: 1em;
    max-height: 200px;
    max-width: 200px;
}