/*
 Theme: Default
 Fonts: Oswald

 <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

*/

img.float-left{
  float: left;
  margin-right: 40px;
}

img.float-right{
  float: right;
  margin-left: 10px;
}

