#prev {
    left: 63px;
    width: 43px;
    background: url('../../assets/images/ui_split.png') -47px 0;
}

.row_container{
	display:flex;
	flex-direction: column;
	flex:1;
}
.reveal .slides section.transition .row_container{
	margin-top:150px;
} 

.reveal .slides section .row_container,
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) .row_container{

	$row0_height:29px;
	$row1_height:8px;
	$row2_height:28px;
	$cel_width:32px;

	
	.title_header, .title_header:before, .title_header:after{
		height:$row0_height;
	}

	h2, h2:before, h2:after{
		height:$row1_height;
	}

	h2{
		color:white;
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		border-left:0;
		padding-left:0;
		line-height:1em;
	}
	h2, h2:before, h2:after{
		height:1em;
	}

	.title_footer, .title_footer:before, .title_footer:after{
		height:$row2_height;
	}

	.title_footer:before, .title_footer:after{ 
		height: $row2_height - 1px;
	}
	
	
	.title_header, .title_footer, h2{
		position: relative;
	}


	.title_header:before, .title_footer:before, h2:before,
	.title_header:after, .title_footer:after, h2:after{
		content:'';
		position:absolute;
	}

	.title_header:before, .title_footer:before, h2:before{
		left:-$cel_width + 1px;
		width:$cel_width - 1px;
	}

	.title_header:after, .title_footer:after, h2:after{
		left:100%;
		width:$cel_width - 1px;
	}

	.title_header{		
		background-repeat:repeat-x;
		background: url('../../assets/images/title_0_1.png');	
	}
	.title_header:before{
		top:0;
		background: url('../../assets/images/title_0_0.png');	
	}
	.title_header:after{
		top:0;
		background: url('../../assets/images/title_0_2.png');	
	}

	h2{
		background-repeat:repeat;
		background: url('../../assets/images/title_1_1.png');	
	}
	h2:before{
		content:'';
		background-repeat:repeat-y;
		background: url('../../assets/images/title_1_0.png');	
	}
	h2:after{
		content:'';
		background-repeat:repeat-y;
		background: url('../../assets/images/title_1_2.png');	
	}

	.title_footer{
		background-repeat:repeat-x;
		background: url('../../assets/images/title_2_1.png');	
	}
	.title_footer:before{
		content:'';
		background: url('../../assets/images/title_2_0.png');	
	}
	.title_footer:after{
		content:'';
		background: url('../../assets/images/title_2_2.png');	
	}
}

.reveal .slides section.who-am-i.row_container h2{
	content:'';
	left: 185px;
    width: 16px;
    height: 36px;
    background: url('../../assets/images/ui_split.png') -47px 0;	
}

@keyframes play {
   100% { background-position: -96px -36px; }
}

@keyframes walk{
	0%{ left:0;}
	100%{left:90%; }
}

.reveal .slides section .anim{
  width: 32px;
  height: 36px;
  animation: play .8s steps(3) infinite, walk 10s infinite linear;
  transform:scale(2);
  position:absolute;
  left:0;
  top:50vh;

}

.reveal .slides section .anim.anim_mage {
  background: url('../../assets/images/mage_m.png') 0 -36px; 
}
.reveal .slides section .anim.anim_ninja {
  background: url('../../assets/images/ninja_m.png') 0 -36px; 
}
.reveal .slides section .anim.anim_ranger {
  background: url('../../assets/images/ranger_m.png') 0 -36px; 
}
.reveal .slides section .anim.anim_healer {
  background: url('../../assets/images/healer_m.png') 0 -36px; 
}
.reveal .slides section .anim.anim_warior {
  background: url('../../assets/images/warrior_m.png') 0 -36px; 
}
.reveal .slides section .anim.anim_townfolk {
  background: url('../../assets/images/townfolk_m.png') 0 -36px; 
}

