

$light-grey: #ddd;
$white: white;
$medium-grey: #817c7c;
$black: #333;
$dark-grey: #3d4349;
$dark-grey-alpha : rgba(61,67,73,0.7);
$red: #e74c3c;

// Background Colors
$code-bg: #3f3f3f;
$page-bg-color:$light-grey;
$slide-bg-color: $white;
$header-color: $dark-grey;

// Text Colors
$main-title-color : $red;
$title-color : $medium-grey;
$text-color : $black;

@mixin dropshadow(){
	box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
}

.binomed-red{
	color: $red;
}


.binomed-light-grey{
	color: $light-grey; 
}

.binomed-black{
	color:$black;
 }

 .binomed-dark-grey{
 	color:$dark-grey;
 }

 .binomed-medium-grey{
 	color: $medium-grey;
 }
