img[alt*=logo]{
    width:50px;   
}

$sommaire-img-height : 60px;

img[alt*=sommaire]{
  height: $sommaire-img-height;
}




div.no-bullet~ul{
  list-style-type: none;

  img{
    margin:0; 
  }

  li{
    line-height: $sommaire-img-height;
  }
}

div.padding~*{
  padding-left: 50px;
}


p.surround{
font-weight: bold;
font-size: 1em;
color: #DA0E1A;
text-align: left;
}

table.table_version{
  position: absolute;
  top: 4em;
}

table.table_version td, table.table_version th {
  font-size: 14px;
}

.img_version{
  margin-top:7em;
}
