html, body{
	margin:0;
	padding:0;
	min-height:100%;
	min-width:100%;
	display:flex;
	background:url(../assets/imgs/abyss.jpg);
	color:white;

}

@import "../scss/prez/qui_veut_gagner";
@include qui-veut-gagner("");