html, body{
	margin:0;
	padding:0;
	min-height:100%;
	min-width:100%;
	display:flex;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(17,17,17,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(17,17,17,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(17,17,17,1) 100%); /* W3C */
	color:white;
	font-family : 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif

}

@import "../../scss/prez/qui_veut_gagner";
$height_question : 6rem;
$width_triangle_question : 20px;
$height_resp : 4rem;
$width_triangle_resp : 10px;
@include qui-veut-gagner("", 
  $height_question,
  $width_triangle_question, 
  $height_resp,
  $width_triangle_resp);

#content{
	display:flex;
	flex:1;
	flex-direction:column;
	justify-content:space-between;

	.wait_message{
		text-align:center;
		margin:auto;
	}
}

.qui-veut-gagner{
	display:flex;
	flex:1;
	padding-top : 50px;
	.resp{
		width:80%;
		text-align:center;
	}

	.resp.select{
		background: green;
	}
	.resp.select:before{
		border-right-color: green;
	}
	.resp.select:after{
		border-left-color: green;
	}
}

.hide{
	display:none;
}


/*
RIPPLE EFFECT
*/

.ripple{
	position: relative;
  	overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: white;

    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}