<dom-module id="remote-styles">
	<template>
		<style>
			[hide] {
				display: none !important;
			}

			:root {
				--bg-color: #E0DAC7;
				--bg-color-abs: #575757;
				--bg-color-menu: #939183;
				--bg-color-menu-item: #575757;
				--bg-color-tab: #575757;
				--panel-color: #fff;

				--color-actions: #939183;

				--color-plugin-actions-bg: #575757;


				--font-color-inactive: #939193;
				--font-color-notes: #675C53;
				--font-color: #575757;
				--font-color-menu: #FFFFFF;
				--font-color-timer: #FFFFFF;
				--font-color-slide: #B7183B;
				--font-color-mute: var(--color-actions);
				--font-color-curent: var(--color-actions);


				--color-normal-stop-1: #A4FF00;
				--color-normal-stop-2: #7BBA09;
				--color-alert: #be233a;
				--color-alert-stop-1: #FF8D00;
				--color-alert-stop-2: #FF0000;
				--color-avanced: #FFBB33;
				--color-advanced-stop-1: #FFDD00;
				--color-advanced-stop-2: #DD9700;
				--color-plugin: #E0E1DD;
				--margin: 10px;
				--margin-timer: 7px;
				--height-tab-indicator: 5px;
				--row-height: 45px;
				--margin-nav: var(--margin);


				--pluginHeight: 70px;
				--abs-height: 40px;
				--abs-notes-height: 45px;


				--font-size-abs: 20px;
				--font-size-abs-notes: 20px;
				--font-size-notes: 2em;
				--font-size-menu: 18pt;
				--font-size-submenu: 14pt;

				--font-size-timer: 27pt;
				--font-size-current-slide: 19.5pt;
				--font-size-slide-number: 12pt;

				--menu-title-height: 50px;
				--menu-width: 300px;

				--icon-padding-left: 2.5em;
			}
		</style>
	</template>
</dom-module>