/*
 Theme: Default
 Fonts: Oswald

 <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

*/

img.float-left{
  float: left;
  margin-right: 40px;
}

img.float-right{
  float: right;
  margin-left: 10px;
}

img.library{
  width: 100px;
  margin:  0px auto;
}


.nexus4{
  position: absolute;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -350px;
  width: 713px;
  height: 550px;
}
.nexus4.phone{
  background: url('../images/nexus_4.png') no-repeat;
  background-size: 713px 550px;
}

.nexus10{
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -500px;
  width: 1024px;
  height: 600px;
}
.nexus10.phone{
  background: url('../images/nexus10.png') no-repeat;
  background-size: 1024px 600px;
}

/*
  ACTION BAR
*/

#ab_circle {
  background: transparent;
  width: 280px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #f00;
  position: absolute;
  top: 70px;
  left: 260px;
}

#ab_1{
  position: absolute;
  top: 0;
  left: 0;
  width: 713px;
  height: 550px; 
  background: url('../images/action_bar1.png') no-repeat;
  background-size: 713px 550px;
}

#ab_2{
  position: absolute;
  top: 0;
  left: 0;
  width: 713px;
  height: 550px; 
  background: url('../images/action_bar2.png') no-repeat;
  background-size: 713px 550px;
}

#ab_contact{  
  position: absolute;
  top: 210px;
  left: 475px;
  width:50px;
  height: 50px;
}

#ab_click{
    position: absolute;
  top: 70px;
  left: 270px;
  width:50px;
  height: 50px;

}

/*
  DASHBOARD
*/

#dashboard{
  position: absolute;
  top: 0;
  left: 0;
  width: 713px;
  height: 550px; 
  background: url('../images/dash_board1.png') no-repeat;
  background-size: 713px 550px;
}

#dashboard a{
  text-decoration: none;
  display: block;
  color: #000;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#db_maps{
  position: absolute;
  top: 200px;
  left: 320px;
  
}
#db_maps:after,#db_galery:after,#db_calendar:after,#db_gmail:after{
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 50px;
  height: 50px;
}
#db_maps:after{
  background: url('../images/db_maps.png') no-repeat;
  background-size: 50px 50px;
}

#db_galery{
  position: absolute;
  top: 200px;
  left: 420px;
}
#db_galery:after{
  background: url('../images/db_galery.png') no-repeat;
  background-size: 50px 50px;
}

#db_calendar{
  position: absolute;
  top: 310px;
  left: 320px;
}
#db_calendar:after{
  background: url('../images/db_calendar.png') no-repeat;
  background-size: 50px 50px;
}

#db_gmail{
  position: absolute;
  top: 310px;
  left: 420px;
}
#db_gmail:after{
  background: url('../images/db_gmail.png') no-repeat;
  background-size: 50px 50px;
}

#toast_maps, #toast_galery, #toast_calendar, #toast_gmail{
  position: absolute;
  top: 360px;
  left: 300px;  
  width: 195px;
  height: 75px;
}

#toast_maps{
  background: url('../images/db_toast_maps.png') no-repeat;
  background-size: 195px 75px; 
}

#toast_galery{
  background: url('../images/db_toast_galery.png') no-repeat;
  background-size: 195px 75px; 
}

#toast_calendar{
  background: url('../images/db_toast_calendar.png') no-repeat;
  background-size: 195px 75px; 
}

#toast_gmail{
  background: url('../images/db_toast_gmail.png') no-repeat;
  background-size: 195px 75px; 
}

/*
  quickAction
*/

#quickAction{
  position: absolute;
  top: 0;
  left: 0;
  width: 713px;
  height: 550px; 
  background: url('../images/quick_action1.png') no-repeat;
  background-size: 713px 550px;
}

#quick_contact{
  position: absolute;
  top: 236px;
  left: 475px;
  width:50px;
  height: 50px;
}

#quick_clicks{
  position: absolute;
   left: 13px;
    top: 18px;
    width: 150px;
    height: 50px;
}

#quickAction_actions{
    height: 97px;
    left: 290px;
    position: absolute;
    top: 154px;
    width: 222px;
  background: url('../images/quick_actions.png') no-repeat;
  background-size: 222px 97px;
}

/*
  sliding menu / pull refresh / viewPager
*/

#slidingmenu, #pulltorefresh, #viewpager{
  position: absolute;
  top: 111px;
  left: 372px;
  width: 447px;
  height: 648px;
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

/*
Fragment
*/

#fragment_phone{
  position: absolute;
} 

#fragment_phone_1{
  position: absolute;
  background: url('../images/cst_phone_1.png') no-repeat;
  background-size: 251px 387px;
  height: 387px;
  left: 279px;
  position: absolute;
  top: 72px;
  width: 251px;
}

#fragment_phone_2{
  position: absolute;
  background: url('../images/cst_phone_2.png') no-repeat;
  background-size: 251px 387px;
  height: 387px;
  left: 279px;
  position: absolute;
  top: 72px;
  width: 251px;
}

#fragment_tab_main{
  position: absolute;
  left: 278px;
  position: absolute;
  top: 121px;
  width: 127px;
  height: 50px;
}

#fragment_tab_fav{
  position: absolute;
  left: 405px;
  position: absolute;
  top: 121px;
  width: 127px;
  height: 50px;
}

#fragment_tablet{
  position: absolute;
}

#fragment_tablet_1{
  position: absolute;
  background: url('../images/cst_tablet.png') no-repeat;
  background-size: 600px 386px;
  top: 103px;
  left: 211px;;
  width: 600px;
  height: 386px;

}

#fragmentchangeViewPhone{
  position: absolute;
  background: url('../images/nexus4_small.png') no-repeat;
  background-size: 33px 50px;
  width: 33px;
  height: 50px;
  bottom: 70px;
  right: 0;
}

#fragmentchangeViewTablet{
  position: absolute;
  background: url('../images/nexus10_small.png') no-repeat;
  background-size: 74px 50px;
  width: 74px;
  height: 50px;
  bottom: 70px;
  right: 0;
}