@import "compass";
@import "compass/css3/box-shadow";

img[alt*=logo]{
    width:50px;   
}

$sommaire-img-height : 60px;

img[alt*=sommaire]{
  height: $sommaire-img-height;
}

.reveal .slides > section img[alt*=avatar]{
    @include box-shadow(#CCCCCC 2px 2px 2px 3px);
}

img[alt*=company_logo]{
    position: absolute;
    bottom: 20%;
    left: 20%;
    width:150px;
}

img[alt*=gdg_logo]{
    position: absolute;
    bottom: 20%;
    right: 20%;
    width:150px;
}

div.no-bullet~ul{
  list-style-type: none;

  img{
    margin:0; 
  }

  li{
    line-height: $sommaire-img-height;
  }
}

div.padding~*{
  padding-left: 50px;
}


p.surround{
font-weight: bold;
font-size: 1em;
color: #DA0E1A;
text-align: left;
}

table.table_version{
  position: absolute;
  top: 4em;
}

table.table_version td, table.table_version th {
  font-size: 14px;
}

.img_version{
  margin-top:7em;
}

img[alt*=dev_code]{
  position: absolute;
  top: 6em;
  left: 8em;
  width: 5%;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

img[alt*=dev_gen]{
  position: absolute;
  top: 8.4em;
  left: 8em;
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  transform: rotate(36deg);
  width: 5%;
}

img[alt*=dev_res]{
  position: absolute;
  left: 8em;
  top: 13em;
  width: 5%;
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  transform: rotate(-100deg);
}

img[alt*=dev_manifest]{
  position: absolute;
  left: 8em;
  top: 17em;
  width: 5%;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}