/* line 5, ../scss/prez/style.scss */
img[alt*=logo] {
  width: 50px;
}

/* line 11, ../scss/prez/style.scss */
img[alt*=sommaire] {
  height: 60px;
}

/* line 17, ../scss/prez/style.scss */
.reveal .slides section.first-slide h1 {
  height: 3em;
  line-height: 1.5em;
  font-size: 1.5em;
}

/* line 25, ../scss/prez/style.scss */
.big-center {
  font-size: 3em;
}

/* line 29, ../scss/prez/style.scss */
.color-red {
  color: #e74c3c;
}

/* line 33, ../scss/prez/style.scss */
.color-grey {
  color: #333;
}

/* line 38, ../scss/prez/style.scss */
p.surround {
  font-weight: bold;
  font-size: 1em;
  color: #DA0E1A;
  text-align: left;
}

/* line 46, ../scss/prez/style.scss */
.reveal .slides > section pre {
  font-size: 0.90em;
  width: inherit;
}

/* line 51, ../scss/prez/style.scss */
.reveal .slides > section pre > code {
  max-height: 700px;
}

/*
UserMedia use case
*/
/* line 58, ../scss/prez/style.scss */
.slideWithGetUserMedia, .slideWithAsciiCam {
  width: 100%;
  height: 70%;
  text-align: center;
  position: relative;
}
/* line 65, ../scss/prez/style.scss */
.slideWithGetUserMedia label, .slideWithGetUserMedia select, .slideWithAsciiCam label, .slideWithAsciiCam select {
  font-size: 0.8em;
}

/* line 71, ../scss/prez/style.scss */
.reveal .slides section strong {
  font-weight: 800;
}

/* line 75, ../scss/prez/style.scss */
.firstUserMediaBtn, .asciiCamBtn, .desktopShareBtn, .tabShareBtn {
  bottom: 0;
  font-size: 1em;
}

/* line 80, ../scss/prez/style.scss */
.copyright.black {
  color: grey;
  bottom: 20px;
}

/* line 85, ../scss/prez/style.scss */
.reveal section pre#asciiText {
  background-color: black;
  color: #00CC00;
  font-size: 0.25em;
  line-height: 0.6em;
  box-shadow: inherit;
  text-align: center;
  font-family: 'Courier New', 'Courier', monospace;
  margin: auto;
}

/*@media screen and (min-width: 1025px){
  .reveal section pre#asciiText{
    width: 1024px;
  }
}*/
/* line 103, ../scss/prez/style.scss */
#remoteVideo {
  width: 400px;
  position: absolute;
  top: 380px;
  right: -50px;
}

/* line 110, ../scss/prez/style.scss */
div.copyright {
  font-size: 0.6em;
  color: #333;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 118, ../scss/prez/style.scss */
div.copyright.white {
  color: white;
}

/* line 122, ../scss/prez/style.scss */
div.copyright:before {
  content: "@";
}
