/* line 4, ../scss/prez/style.scss */
img[alt*=logo] {
  width: 50px;
}

/* line 10, ../scss/prez/style.scss */
img[alt*=sommaire] {
  height: 60px;
}

/* line 14, ../scss/prez/style.scss */
.reveal .slides > section img[alt*=avatar] {
  width: 200px;
  margin-top: 20px;
  -moz-box-shadow: #CCCCCC 2px 2px 2px 3px;
  -webkit-box-shadow: #CCCCCC 2px 2px 2px 3px;
  box-shadow: #CCCCCC 2px 2px 2px 3px;
}

/* line 20, ../scss/prez/style.scss */
img[alt*=company_logo] {
  position: absolute;
  bottom: 60px;
  left: 20%;
  width: 150px;
}

/* line 27, ../scss/prez/style.scss */
img[alt*=gdg_logo] {
  position: absolute;
  bottom: 50px;
  right: 20%;
  width: 150px;
}

/* line 36, ../scss/prez/style.scss */
.reveal .slides section.first-slide h1 {
  height: 3em;
  line-height: 1.5em;
  font-size: 1.5em;
}

/* line 45, ../scss/prez/style.scss */
p.surround {
  font-weight: bold;
  font-size: 1em;
  color: #DA0E1A;
  text-align: left;
}

/* line 53, ../scss/prez/style.scss */
.reveal .slides > section pre {
  font-size: 0.90em;
  width: inherit;
}

/* line 58, ../scss/prez/style.scss */
.reveal .slides > section pre > code {
  max-height: 700px;
}

/*
UserMedia use case
*/
/* line 65, ../scss/prez/style.scss */
.slideWithGetUserMedia, .slideWithAsciiCam {
  width: 100%;
  height: 70%;
  text-align: center;
  position: relative;
}
/* line 72, ../scss/prez/style.scss */
.slideWithGetUserMedia label, .slideWithGetUserMedia select, .slideWithAsciiCam label, .slideWithAsciiCam select {
  font-size: 0.8em;
}

/* line 78, ../scss/prez/style.scss */
.firstUserMediaBtn, .asciiCamBtn, .desktopShareBtn, .tabShareBtn {
  bottom: 0;
  font-size: 1em;
}

/* line 83, ../scss/prez/style.scss */
.copyright.black {
  color: grey;
  bottom: 20px;
}

/* line 88, ../scss/prez/style.scss */
.reveal section pre#asciiText {
  background-color: black;
  color: #00CC00;
  font-size: 0.25em;
  line-height: 0.6em;
  box-shadow: inherit;
  text-align: center;
  font-family: 'Courier New', 'Courier', monospace;
  margin: auto;
}

/*@media screen and (min-width: 1025px){
  .reveal section pre#asciiText{
    width: 1024px;
  }
}*/
/* line 106, ../scss/prez/style.scss */
#remoteVideo {
  width: 430px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 113, ../scss/prez/style.scss */
div.copyright {
  font-size: 0.6em;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 121, ../scss/prez/style.scss */
div.copyright:before {
  content: "@";
}
