@import "colors";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

/*.reveal .slides section.first-slide:after{
    content:'';
	position: absolute;
	bottom: 130px;
	left: 170px;
	width: 800px;
	height: 250px; 
	padding-top: 50px;
	background: rgba(255,255,255,0.7);
	
}

.reveal .slides section.first-slide{

    padding-left: 190px !important;
    padding-top: 500px !important;

    h1{
        font-size: 2.5em;
    }
    
}

.reveal  .slides section.last-slide{
	
	color : white;
	text-align: center;

    
    h1.presenter{
        top:2.8em;
        height:1.5em;
        line-height:1.5em; 
        font-size:1.5em;
    }
    
    h1.topic-title{
        top:1.5em;
        height:1.7em;
        font-size:1.5em;
        line-height:1.7em;
        font-weight:400;
    }
    
        
    img[alt*=avatar], img.avatar{
        position:absolute;
        width:130pt;
        min-height: 130pt;
        height: auto;
        top: 200px;
        margin-left: -50pt;
        margin-top: 0;
    }

	
}

.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{

	height: 2.0em;
	font-size: 1.7em;
	line-height: 2.0em;
	padding-left: 20px;	
	top: 10%;

}

.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon{
    position: absolute;
    top: 600px;
    right: 140px;
    max-height: 140px;
    max-width: 140px;
}*/