/* line 9, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.first-slide:before {
  content: '';
  position: absolute;
  top: -50px;
  left: calc(50% - 250px);
  left: -webkit-calc(50% - 250px);
  background-image: url(assets/images/triangle_haut.png);
  width: 500px;
  height: 250px;
}

/* line 22, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.first-slide:after {
  content: '';
  position: absolute;
  bottom: -100px;
  left: calc(50% - 100px);
  left: -webkit-calc(50% - 100px);
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid white;
}

/* line 37, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.first-slide {
  height: 100%;
  padding-top: 300px !important;
  padding-bottom: 300px !important;
}
/* line 43, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.first-slide h1 {
  font-size: 2.5em;
}

/* line 49, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i {
  height: 100%;
}
/* line 52, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i h2 {
  text-transform: uppercase;
  color: black;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 59, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i h3 {
  color: #da181a;
  font-size: 1.5em;
  margin-bottom: 20px;
}
/* line 65, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i img[alt*=avatar] {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 200px;
  min-height: 150px;
  margin-top: 20px;
  -moz-box-shadow: #CCCCCC 2px 2px 2px 3px;
  -webkit-box-shadow: #CCCCCC 2px 2px 2px 3px;
  box-shadow: #CCCCCC 2px 2px 2px 3px;
}
/* line 75, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i img[alt*=company_logo] {
  position: absolute;
  top: 480px;
  left: 300px;
  width: 100px;
  min-height: 100px;
}
/* line 83, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i img[alt*=gdg_logo] {
  position: absolute;
  top: 470px;
  right: 600px;
  width: 100px;
  min-height: 100px;
}
/* line 91, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i .twitter {
  font-size: 1em;
  position: absolute;
  top: 600px;
  left: 800px;
}
/* line 98, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i .gplus {
  font-size: 1em;
  position: absolute;
  top: 660px;
  left: 800px;
}
/* line 105, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.who-am-i .descjf {
  font-size: 1em;
  position: absolute;
  color: white;
  left: 350px;
  top: 320px;
  width: calc(100% - 350px);
  width: -webkit-calc(100% - 350px);
}

/* line 120, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide {
  height: 100%;
}
/* line 124, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide .presenter, .reveal .slides section.last-slide .work-rule, .reveal .slides section.last-slide .topic-title, .reveal .slides section.last-slide .email, .reveal .slides section.last-slide .thank-message {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}
/* line 131, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide .presenter {
  top: calc(350px + 1.3em);
}
/* line 135, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide .topic-title {
  top: 350px;
}
/* line 140, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide .work-rule {
  top: calc(350px + 10.5em);
}
/* line 144, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide .email {
  top: calc(350px + 8.2em);
}
/* line 148, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.last-slide .thank-message {
  top: calc(350px + 2.6em);
}

/* line 156, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1 {
  width: 100%;
  height: 2.0em;
  font-size: 1.7em;
  line-height: 2.0em;
  padding-left: 20px;
  left: 100px;
  top: 400px;
  color: #da181a;
}

/* line 173, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.transition-black h1 {
  color: white;
}

/* line 178, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section[class*="transition"] h1:after,
.reveal .slides section.transition h1:after,
.reveal .slides section.transition-white h1:after,
.reveal .slides section.transition-black h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 10px;
  background: #da181a;
}

/* line 192, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.transition-black h1:after {
  background: white;
}

/* line 196, ../../../../scss/theme/2015/sqli/specifics_slides_print.scss */
.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon {
  top: 450px;
  left: 10px;
  max-height: 100px;
  max-width: 100px;
}

/*# sourceMappingURL=specifics_slides_print.css.map */
