@charset "UTF-8";
@font-face {
  font-family: "DINNextLTPro-MediumCond";
  src: url("fonts/DINNextLTPro-MediumCond.eot");
  src: local("Ôÿ║"), url("fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("fonts/DINNextLTPro-MediumCond.ttf") format("truetype");
}
@font-face {
  font-family: "DIN-Next-LT-Pro-Condensed";
  src: url("fonts/DINNextLTPro-Condensed.eot");
  src: url("fonts/DINNextLTPro-Condensed.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-Condensed.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-Condensed.woff") format("woff"), url("fonts/DINNextLTPro-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Next-LT-Pro-UltraLightCond";
  src: url("fonts/DINNextLTPro-UltraLightCond.eot");
  src: url("fonts/DINNextLTPro-UltraLightCond.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-UltraLightCond.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-UltraLightCond.woff") format("woff"), url("fonts/DINNextLTPro-UltraLightCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Next-LT-Pro-LightCondensed";
  src: url("fonts/DINNextLTPro-LightCondensed.eot");
  src: url("fonts/DINNextLTPro-LightCondensed.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-LightCondensed.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("fonts/DINNextLTPro-LightCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Next-LT-Pro-BoldCondensed";
  src: url("fonts/DINNextLTPro-BoldCondensed.eot");
  src: url("fonts/DINNextLTPro-BoldCondensed.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-BoldCondensed.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("fonts/DINNextLTPro-BoldCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../../../../scss/theme/2015/sqli/fonts.scss */
.reveal {
  font-family: "DIN-Next-LT-Pro-Condensed", Arial, sans-serif;
  font-size: 2.5em;
}

/* line 3, ../../../../scss/theme/2015/sqli/tableaux.scss */
table {
  width: 100%;
  border-collapse: -moz-initial;
  border-collapse: initial;
  border-spacing: 2px;
}

/* line 11, ../../../../scss/theme/2015/sqli/tableaux.scss */
table tr:nth-child(odd) {
  background-color: #cbcbcb;
}

/* line 14, ../../../../scss/theme/2015/sqli/tableaux.scss */
table tr:nth-child(even) {
  background-color: #e7e7e7;
}

/* line 18, ../../../../scss/theme/2015/sqli/tableaux.scss */
table thead {
  margin-bottom: 10px;
}

/* line 22, ../../../../scss/theme/2015/sqli/tableaux.scss */
table th {
  color: white;
  font-size: 18px;
  background: black;
}

/* line 28, ../../../../scss/theme/2015/sqli/tableaux.scss */
table td, table th {
  font-size: 18px;
  padding: 1em 0.5em;
}

/* line 33, ../../../../scss/theme/2015/sqli/tableaux.scss */
table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -ms-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(to bottom, #ffd14d 40%, #f6c000 80%) no-repeat;
}

/* line 43, ../../../../scss/theme/2015/sqli/tableaux.scss */
table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
}

/* line 11, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .backgrounds .slide-background.first-slide:before {
  content: '';
  position: fixed;
  top: 0;
  left: calc(50vw - 150px);
  left: -webkit-calc(50vw - 150px);
  background-image: url(assets/images/triangle_haut.png);
  background-size: 300px 150px;
  width: 300px;
  height: 150px;
  /*
  width: 0;
  height: 0;
  border-left: $width-triangle solid transparent;
  border-right: $width-triangle solid transparent;
  border-top: $width-triangle solid white;*/
}

/* line 30, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .backgrounds .slide-background.first-slide:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: calc(50vw - 75px);
  left: -webkit-calc(50vw - 75px);
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 75px solid white;
}

/* line 44, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide {
  height: 300px;
  text-align: center;
  padding-top: calc(150px + 100px);
  padding-top: -webkit-calc(150px + 100px);
  color: white;
  text-transform: uppercase;
}
/* line 53, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h1 {
  font-size: 2em;
}
/* line 57, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h2 {
  font-size: 1.5em;
}
/* line 61, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h3 {
  position: relative;
}
/* line 65, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h3:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background: white;
  bottom: -35px;
  left: 50%;
  margin-left: -50px;
}
/* line 76, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h3:after {
  content: 'Digital that works.';
  text-transform: none;
  text-align: center;
  position: absolute;
  width: 400px;
  height: 5px;
  bottom: -60px;
  left: 50%;
  margin-left: -200px;
}

/* line 89, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i {
  color: white;
  text-align: center;
}
/* line 94, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i h2 {
  text-transform: uppercase;
  color: black;
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 101, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i h3 {
  color: #da181a;
  font-size: 1.5em;
  margin-bottom: 20px;
}
/* line 107, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i img[alt*=avatar] {
  position: absolute;
  left: 100px;
  top: 200px;
  width: 200px;
  margin-top: 20px;
  -moz-box-shadow: #CCCCCC 2px 2px 2px 3px;
  -webkit-box-shadow: #CCCCCC 2px 2px 2px 3px;
  box-shadow: #CCCCCC 2px 2px 2px 3px;
}
/* line 116, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i img[alt*=company_logo] {
  position: absolute;
  top: 480px;
  left: 300px;
  width: 150px;
}
/* line 123, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i img[alt*=gdg_logo] {
  position: absolute;
  top: 470px;
  right: 600px;
  width: 150px;
}
/* line 130, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i .twitter {
  position: absolute;
  top: 490px;
  left: 800px;
}
/* line 136, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i .gplus {
  position: absolute;
  top: 550px;
  left: 800px;
}
/* line 142, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i .descjf {
  position: absolute;
  color: white;
  left: 350px;
  top: 320px;
  width: calc(100% - 350px);
  width: -webkit-calc(100% - 350px);
}

/* line 156, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide {
  color: white;
  text-align: center;
}
/* line 161, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1 {
  position: absolute;
  color: white;
  font-family: "DIN-Next-LT-Pro-BoldCondensed";
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  -moz-box-shadow: white 0px 0px 0px;
  -webkit-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
  text-shadow: black 0px 0px 0;
  width: 100%;
  left: 0;
}
/* line 174, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide .presenter, .reveal .slides section.last-slide .work-rule, .reveal .slides section.last-slide .topic-title, .reveal .slides section.last-slide .email, .reveal .slides section.last-slide .thank-message {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
}
/* line 181, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide .presenter {
  color: #da181a;
  bottom: calc(22vh - 1em);
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 600;
}
/* line 190, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide .topic-title {
  text-transform: uppercase;
  bottom: 22vh;
  height: 1.7em;
  font-size: 2em;
  line-height: 1.7em;
  font-weight: 400;
}
/* line 200, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide .work-rule {
  color: #da181a;
  bottom: calc(22vh - 5em);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}
/* line 209, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide .email {
  bottom: calc(22vh - 4em);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}
/* line 217, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide .thank-message {
  bottom: calc(22vh - 2em);
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  font-weight: 600;
}

/* line 229, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide:before {
  content: '';
  position: absolute;
  top: 5vh;
  left: 50%;
  width: 500px;
  height: 307px;
  margin-left: -250px;
  background: url(assets/images/logo.png);
  background-size: 500px 307px;
}

/* line 244, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1 {
  position: absolute;
  width: 100%;
  height: 1.4em;
  font-size: 2.8em;
  line-height: 1.4em;
  padding-left: 20px;
  color: #da181a;
  text-align: left;
  top: 50%;
  margin-top: -0.7em;
}

/* line 262, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition-black h1 {
  color: white;
}

/* line 266, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition h1 {
  background: rgba(255, 255, 255, 0.8);
}

/* line 270, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section[class*="transition"] h1:after,
.reveal .slides section.transition h1:after,
.reveal .slides section.transition-white h1:after,
.reveal .slides section.transition-black h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 10px;
  background: #da181a;
}

/* line 283, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition-black h1:after {
  background: white;
}

/* line 288, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: -180px;
  max-height: 200px;
  max-width: 200px;
}

/* line 29, ../../../../scss/theme/2015/sqli/sqli.scss */
::selection {
  color: white;
  background: #333333;
  text-shadow: none;
}

/*
*
* Controls
*
*/
/* line 41, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #da181a;
}

/* line 46, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #da181a;
}

/* line 51, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #da181a;
}

/* line 56, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #da181a;
}

/*
 *
 * PROGRESS BAR
 *
 */
/* line 66, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

/* line 69, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .progress span {
  background: #da181a;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*
* Footer /  Header
*/
/* line 82, ../../../../scss/theme/2015/sqli/sqli.scss */
footer.sqli-footer:after {
  content: 'SQLI Entreprise - SQLI GROUP | 2015';
  white-space: pre;
  position: absolute;
  color: #454349;
  bottom: 0;
  left: 40px;
  width: calc(100% - 40px - 40px);
  width: -webkit-calc(100% - 40px - 40px);
  height: 45px;
  padding-left: 60px;
  line-height: 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-image: url("assets/images/logo_sstxt.png");
  background-size: 45.9375px 45px;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

/*
* Commons Slides
*/
/* line 108, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section {
  position: absolute;
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  width: calc(100% - 40px - 40px);
  padding: 20px 40px 45px 40px;
  z-index: -2;
}

/* line 117, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) {
  /*position:absolute;
  height:calc(100% - 60px);
  height:-webkit-calc(100% - 60px);*/
  text-align: left;
  /*width: calc(100% - 40px - 40px);
  padding:$margin-section $margin-lr $footer-height $margin-lr;  
  z-index: -2;*/
}
/* line 128, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h1, .reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h2 {
  text-transform: uppercase;
  position: relative;
  color: black;
  font-size: 1.5em;
}
/* line 135, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h1, .reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h2, .reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h3 {
  margin-bottom: 50px;
  text-align: left;
}
/* line 140, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h1 ~ h2, .reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h2 ~ h3, .reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h1 ~ h3 {
  margin-top: -30px;
  text-transform: uppercase;
  color: #da181a;
}
/* line 146, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h1:before, .reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black) h2:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 10px;
  background: black;
  left: 0;
  top: -30px;
}

/*
* Titles Management  and Spaces
*/
/* line 170, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black)
h1 ~ :not(h2), .reveal .slides > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black)
h2 ~ :not(h3), .reveal .slides > section > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black) h1 ~ :not(h2), .reveal .slides > section > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black) h2 ~ :not(h3) {
  margin-top: 30px;
}

/* line 178, ../../../../scss/theme/2015/sqli/sqli.scss */
ul {
  margin: 10px 10px;
}

/*
 
 Citations

*/
/* line 192, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section blockquote {
  padding: 0 0 0 15px;
  margin: 2em 2em 0 2em;
  border-left: 5px solid #DA0E1A;
  font-size: 0.7em;
}
/* line 199, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section blockquote:before {
  color: #DA0E1A;
  content: '\201C';
  font-size: 4em;
  font-weight: 700;
  float: left;
  margin-left: -.9em;
}
/* line 208, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section section blockquote p {
  color: #1D2326;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: .5em;
  font-style: italic;
  font-size: 3.5em;
  font-weight: normal;
}
/* line 218, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section blockquote p em {
  font-style: italic;
}
/* line 222, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section blockquote p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.1em;
}
/* line 227, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section blockquote cite {
  font-size: 1.5em;
  display: block;
  line-height: 1.8;
  color: rgba(0, 13, 23, 0.7);
  font-style: normal;
  margin-top: .25em;
}
/* line 236, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section blockquote cite:before {
  content: '\2014 \00A0';
}

/*
  Listes
*/
/* line 244, ../../../../scss/theme/2015/sqli/sqli.scss */
li {
  /* margin-top: 0.7em; */
}

/* line 248, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section ul > li,
.reveal .slides section ul > li > ul > li,
.reveal .slides section ul > li,
.reveal .slides section ul > li > ul > li {
  /* list-style: none; */
}

/* line 255, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section ul > li:before,
.reveal .slides section div > ul > li:before,
.reveal .slides section ul > li:before {
  /* content: '+'; */
  /* display: block; */
  /* position: relative; */
  /* max-width: 0px; */
  /* max-height: 0px; */
  /* left: -0.7em; */
  /* top: -0.25em; */
  /* color: #DA0E1A; */
  /* font-size: 2em; */
}

/* line 269, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section ul > li > ul > li:before,
.reveal .slides section ul > li > ul > li:before {
  content: " ";
  padding-right: 14px;
  display: block;
  position: relative;
  left: -0.7em;
  top: 0.3em;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #008fff;
}

/*

Code

*/
/* line 290, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section pre:not(.literal) code {
  font-family: "Courier New", monospace;
  font-size: 0.7em;
  line-height: 0.8em;
}

/* line 297, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides section p.big-code ~ pre:not(.literal) code {
  font-size: 1em;
  line-height: 1.1em;
}

/*
* Links
*/
/* line 308, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal a:not(.image) {
  color: #da181a;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

/* line 318, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal a:not(.image):hover {
  color: #da181a;
  text-shadow: none;
  border: none;
}

/* line 323, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .roll span:after {
  color: white;
  background: #da181a;
}

/* line 328, ../../../../scss/theme/2015/sqli/sqli.scss */
.reveal .slides .toc a {
  color: inherit;
}

/*# sourceMappingURL=sqli.css.map */
