@charset "CP850";
@font-face {
  font-family: "DINNextLTPro-MediumCond";
  src: url("fonts/DINNextLTPro-MediumCond.eot");
  src: local("☺"), url("fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("fonts/DINNextLTPro-MediumCond.ttf") format("truetype");
}
@font-face {
  font-family: "DIN-Next-LT-Pro-Condensed";
  src: url("fonts/DINNextLTPro-Condensed.eot");
  src: url("fonts/DINNextLTPro-Condensed.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-Condensed.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-Condensed.woff") format("woff"), url("fonts/DINNextLTPro-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Next-LT-Pro-UltraLightCond";
  src: url("fonts/DINNextLTPro-UltraLightCond.eot");
  src: url("fonts/DINNextLTPro-UltraLightCond.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-UltraLightCond.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-UltraLightCond.woff") format("woff"), url("fonts/DINNextLTPro-UltraLightCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Next-LT-Pro-LightCondensed";
  src: url("fonts/DINNextLTPro-LightCondensed.eot");
  src: url("fonts/DINNextLTPro-LightCondensed.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-LightCondensed.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("fonts/DINNextLTPro-LightCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DIN-Next-LT-Pro-BoldCondensed";
  src: url("fonts/DINNextLTPro-BoldCondensed.eot");
  src: url("fonts/DINNextLTPro-BoldCondensed.eot?#iefix") format("embedded-opentype"), url("fonts/DINNextLTPro-BoldCondensed.svg#DIN Next LT Pro") format("svg"), url("fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("fonts/DINNextLTPro-BoldCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 53, ../../../../scss/theme/2014/sqli/fonts.scss */
.reveal {
  font-family: "DIN-Next-LT-Pro-Condensed", Arial, sans-serif;
  font-size: 2.5em;
}

/* line 1, ../../../../scss/theme/2014/sqli/tableaux.scss */
table {
  width: 100%;
  border-collapse: -moz-initial;
  border-collapse: initial;
  border-spacing: 2px;
}

/* line 9, ../../../../scss/theme/2014/sqli/tableaux.scss */
table tr:nth-child(odd) {
  background-color: rgba(214, 14, 26, 0.2);
}

/* line 12, ../../../../scss/theme/2014/sqli/tableaux.scss */
table tr:nth-child(even) {
  background-color: rgba(214, 14, 26, 0.1);
}

/* line 16, ../../../../scss/theme/2014/sqli/tableaux.scss */
table th {
  color: white;
  font-size: 18px;
  background: #DA0E1A;
}

/* line 22, ../../../../scss/theme/2014/sqli/tableaux.scss */
table td, table th {
  font-size: 18px;
  padding: 1em 0.5em;
}

/* line 27, ../../../../scss/theme/2014/sqli/tableaux.scss */
table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -ms-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(to bottom, #ffd14d 40%, #f6c000 80%) no-repeat;
}

/* line 37, ../../../../scss/theme/2014/sqli/tableaux.scss */
table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
}

/* line 6, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.first-slide {
  position: absolute;
  top: 0;
  left: -400px;
  width: 800px;
  height: 300px;
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.7);
  color: #da0e1a;
}
/* line 17, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h1 {
  color: #3f3f3f;
}

/* line 22, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i {
  color: white;
  text-align: center;
}
/* line 27, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i h2 {
  font-size: 3em;
  margin-bottom: 20px;
}
/* line 32, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* line 41, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide {
  color: white;
  text-align: center;
}
/* line 46, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1 {
  position: absolute;
  color: white;
  font-family: "DIN-Next-LT-Pro-BoldCondensed";
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  -moz-box-shadow: white 0px 0px 0px;
  -webkit-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
  text-shadow: black 0px 0px 0;
  width: 100%;
  left: 0;
}
/* line 59, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.presenter {
  top: 1.5em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  font-weight: 600;
}
/* line 67, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.topic-title {
  top: 0;
  height: 1.7em;
  font-size: 2em;
  line-height: 1.7em;
  font-weight: 400;
}
/* line 76, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.work-rule {
  top: calc(50% + 150px);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}
/* line 84, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.email {
  top: calc(50% + 150px + 2em);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}
/* line 92, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.thank-message {
  bottom: 0em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  font-weight: 600;
}
/* line 101, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.last-slide img[alt*=avatar], .reveal .slides section.last-slide img.avatar {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

/* line 114, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1 {
  position: absolute;
  width: 100%;
  height: 1.4em;
  font-size: 2.8em;
  line-height: 1.4em;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #da0e1a;
  text-align: left;
  top: 10%;
}

/* line 132, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.transition-black h1 {
  background: rgba(255, 255, 255, 0.7);
}

/* line 138, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1 {
  -moz-transform:  scale(1, 1) rotateZ(-45deg) translate(0, 400px);
  -ms-transform:  scale(1, 1) rotateZ(-45deg) translate(0, 400px);
  -o-transform:  scale(1, 1) rotateZ(-45deg) translate(0, 400px);
  -webkit-transform:  scale(1, 1) rotateZ(-45deg) translate(0, 400px);
  transform:  scale(1, 1) rotateZ(-45deg) translate(0, 400px);
}

/* line 143, ../../../../scss/theme/2014/sqli/specifics_slides.scss */
.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon {
  position: absolute;
  bottom: 25px;
  right: 150px;
  max-height: 200px;
  max-width: 200px;
}

/* line 29, ../../../../scss/theme/2014/sqli/sqli.scss */
::selection {
  color: white;
  background: #333333;
  text-shadow: none;
}

/*
*
* Controls
*
*/
/* line 41, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #da0e1a;
}

/* line 46, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #da0e1a;
}

/* line 51, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #da0e1a;
}

/* line 56, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #da0e1a;
}

/*
 *
 * PROGRESS BAR
 *
 */
/* line 66, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

/* line 69, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .progress span {
  background: #da0e1a;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*
* Footer /  Header
*/
/* line 82, ../../../../scss/theme/2014/sqli/sqli.scss */
footer.sqli-footer:after {
  content: 'SQLI Group';
  white-space: pre;
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: calc(100% - 40px - 40px);
  width: -webkit-calc(100% - 40px - 40px);
  height: 45px;
  padding-left: 60px;
  line-height: 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-image: url("assets/images/logo_sstxt.png");
  background-size: 45.9375px 45px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 102, ../../../../scss/theme/2014/sqli/sqli.scss */
header.sqli-header:before {
  content: '';
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px - 40px);
  width: -webkit-calc(100% - 40px - 40px);
  height: 120px;
  background-image: url("assets/images/carre_haut_1.png"), url("assets/images/carre_haut_2.png");
  background-size: 60px 60px, 120px 120px;
  background-position: 0 0, 60px 0;
  background-repeat: no-repeat;
}

/*
* Commons Slides
*/
/* line 123, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides > section, .reveal .slides > section > section {
  position: absolute;
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  text-align: left;
  width: calc(100% - 40px - 40px);
  padding: 20px 40px 45px 40px;
  z-index: -2;
}
/* line 133, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides > section h1, .reveal .slides > section h2, .reveal .slides > section > section h1, .reveal .slides > section > section h2 {
  color: #da0e1a;
  font-size: 3em;
}

/*
* Titles Management  and Spaces
*/
/* line 152, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black)
h1 ~ :not(h2), .reveal .slides > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black)
h2 ~ :not(h3), .reveal .slides > section > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black) h1 ~ :not(h2), .reveal .slides > section > section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black) h2 ~ :not(h3) {
  margin-top: 30px;
}

/* line 160, ../../../../scss/theme/2014/sqli/sqli.scss */
ul {
  margin: 10px 10px;
}

/*
 
 Citations

*/
/* line 174, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section blockquote {
  padding: 0 0 0 15px;
  margin: 2em 2em 0 2em;
  border-left: 5px solid #DA0E1A;
  font-size: 0.7em;
}
/* line 181, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section blockquote:before {
  color: #DA0E1A;
  content: '\201C';
  font-size: 4em;
  font-weight: 700;
  float: left;
  margin-left: -.9em;
}
/* line 190, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section section blockquote p {
  color: #1D2326;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: .5em;
  font-style: italic;
  font-size: 3.5em;
  font-weight: normal;
}
/* line 200, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section blockquote p em {
  font-style: italic;
}
/* line 204, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section blockquote p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.1em;
}
/* line 209, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section blockquote cite {
  font-size: 1.5em;
  display: block;
  line-height: 1.8;
  color: rgba(0, 13, 23, 0.7);
  font-style: normal;
  margin-top: .25em;
}
/* line 218, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section blockquote cite:before {
  content: '\2014 \00A0';
}

/*
  Listes
*/
/* line 226, ../../../../scss/theme/2014/sqli/sqli.scss */
li {
  margin-top: 0.7em;
}

/* line 230, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section ul > li,
.reveal .slides section ul > li > ul > li,
.reveal .slides section ul > li,
.reveal .slides section ul > li > ul > li {
  list-style: none;
}

/* line 237, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section ul > li:before,
.reveal .slides section div > ul > li:before,
.reveal .slides section ul > li:before {
  content: '+';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -0.7em;
  top: -0.1em;
  color: #DA0E1A;
  font-size: 2em;
}

/* line 251, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section ul > li > ul > li:before,
.reveal .slides section ul > li > ul > li:before {
  content: " ";
  padding-right: 14px;
  display: block;
  position: relative;
  left: -0.7em;
  top: 0.3em;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #008fff;
}

/*

Code

*/
/* line 272, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section pre:not(.literal) code {
  font-family: "Courier New", monospace;
  font-size: 1em;
  line-height: 1.1em;
}

/* line 279, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides section p.big-code ~ pre:not(.literal) code {
  font-size: 2em;
  line-height: 2.1em;
}

/*
* Links
*/
/* line 290, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal a:not(.image) {
  color: #da0e1a;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

/* line 300, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal a:not(.image):hover {
  color: #da0e1a;
  text-shadow: none;
  border: none;
}

/* line 305, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .roll span:after {
  color: white;
  background: #da0e1a;
}

/* line 310, ../../../../scss/theme/2014/sqli/sqli.scss */
.reveal .slides .toc a {
  color: inherit;
}
