@font-face {
    font-family: 'Crazy';
    src: url('/assets/fonts/Crazy-Sixties.ttf');
}

@font-face {
    font-family: 'CantedFX';
    src: url('/assets/fonts/CantedFX_Bold.ttf');
}

@font-face {
    font-family: 'BDCartoon';
    src: url('/assets/fonts/BD_Cartoon_Shout.ttf');
}

@font-face {
    font-family: 'ComixLoud';
    src: url('/assets/fonts/Comix_Loud.ttf');
}

@font-face {
    font-family: 'Komikax';
    src: url('/assets/fonts/KOMIKAX_.ttf');
}

@font-face {
    font-family: 'Myriad';
    src: url('/assets/fonts/MyriadPro6Regular.otf');
}

@font-face {
    font-family: 'Stanberry';
    src: url('/assets/fonts/Stanberry.ttf');
}