@import "../theme/2015/binomed/colors";

img[alt*=logo]{
    width:50px;   
}

$sommaire-img-height : 60px;

img[alt*=sommaire]{
  height: $sommaire-img-height;
}


.reveal .slides section.who-am-i img[alt*=company_logo]{
    position: absolute;
    top: 480px;
    left: 100px;
    height: 100px;
    width: inherit;
}


strong{
  font-weight:600 !important;
}

div.no-bullet~ul{
  list-style-type: none;

  img{
    margin:0; 
  }

  li{
    line-height: $sommaire-img-height;
  }
}

div.padding~*{
  padding-left: 50px;
}


p.surround{
font-weight: bold;
font-size: 1em;
color: #DA0E1A;
text-align: left;
}

table.table_version{
  position: absolute;
  top: 4em;
}

table.table_version td, table.table_version th {
  font-size: 14px;
}

.img_version{
  margin-top:7em;
}


.copyright.black{
  color: grey;
  bottom: 20px;
}

div.copyright{
    font-size: 0.6em;
    color: $medium-grey ;
    position: absolute;
    bottom: 0;
    right: 0;
}

div.copyright.white{
  color: $white;
}

div.copyright:before{
    content: '@'
}

p.big-text{
  font-size:2em;
}

section.surcharge:before{
  content: '';
  background-image: url(../../assets/images/lucca_logo.png);
  width: 189px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
  left: -173px;
}

section.surcharge:after{
  content: '';
  background-image: url(../../assets/images/lucca_logo.png);
  width: 189px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 200;
  right: 173px;
}

section.white{
  background: white;
}

p.big-text.arial{
  font-family: serif;
}

/*
* 
* MIXINS
**/

@mixin img-size-prefix($prefix, $attr,$size){
    section img[alt*=#{$prefix}-#{$size}],section .#{$prefix}-#{$size},section  .#{$prefix}-#{$size}+*{
        max-#{$attr}: #{$size}px;
        #{$attr}: inherit;
    }
}

@for $i from 1 through 20{
    @include img-size-prefix(h, height, $i * 50);
    @include img-size-prefix(w, width, $i * 50);
}
