@import "colors";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

$width-triangle : 250px;
$width-triangle-bas : 100px;

.reveal .slides section.first-slide:before{
    content:'';
    position: absolute;    
    top: -50px;
    left: calc(50% - #{$width-triangle});
    left: -webkit-calc(50% - #{$width-triangle});
    background-image: url(assets/images/triangle_haut.png);
    width: 2 * $width-triangle;
    height: $width-triangle;    
    
}


.reveal .slides section.first-slide:after{
    content:'';
    position: absolute;
    bottom: -100px;
    left: calc(50% - #{$width-triangle-bas});
    left: -webkit-calc(50% - #{$width-triangle-bas});
    width: 0;
    height: 0;
    border-left: $width-triangle-bas solid transparent;
    border-right: $width-triangle-bas solid transparent;
    border-bottom: $width-triangle-bas solid white;
    
}


.reveal .slides section.first-slide{

    height:100%;
    padding-top: 300px !important;
    padding-bottom: 300px !important;

    h1{
        font-size: 2.5em;
    }
    
}

.reveal  .slides section.who-am-i{
    
    height:100%;
    h2{
        text-transform: uppercase;
        color: $black;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    h3{
        color: $red;
        font-size: 1.5em;
        margin-bottom: 20px;    
    }

    img[alt*=avatar]{
        position: absolute;
        left: 100px;
        top: 100px;
        width: 200px;
        min-height: 150px;
        margin-top: 20px;
        @include box-shadow(#CCCCCC 2px 2px 2px 3px);
    }

    img[alt*=company_logo]{
        position: absolute;
        top: 480px;
        left: 300px;
        width:100px;
        min-height:100px;
    }

    img[alt*=gdg_logo]{
        position: absolute;
        top: 470px;
        right: 600px;
        width:100px;
        min-height:100px;
    }

    .twitter{
        font-size: 1em;
        position:absolute;
        top: 600px;
        left: 800px;
    }

    .gplus{
        font-size: 1em;
        position:absolute;
        top: 660px;
        left: 800px;
    }

    .descjf{
        font-size: 1em;
        position: absolute;
        color: $white;
        left: 350px;
        top: 320px;
        width: calc(100% - 350px);
        width: -webkit-calc(100% - 350px);
    }
    
}




.reveal  .slides section.last-slide{
    
height:100%;

    .presenter, .work-rule, .topic-title, .email, .thank-message{
        position:absolute;
        text-align: center;
        width: 100%;
        left: 0;
    }

    .presenter{
        top:calc(350px + 1.3em);        
    }
    
    .topic-title{
        top:350px;        
    }
    
    
    .work-rule{
        top:calc(350px + 10.5em);        
    }
    
    .email{
        top:calc(350px + 8.2em);        
    }
    
    .thank-message{
        top:calc(350px + 2.6em);        
    }
      

    
}

.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{

    width: 100%;
	height: 2.0em;
	font-size: 1.7em;
	line-height: 2.0em;
	padding-left: 20px;	
    left:100px;
	top: 400px;
    color: $red;

}


.reveal .slides section.transition-black h1{
    color:$white;
}


.reveal .slides section[class*="transition"] h1:after,
.reveal .slides section.transition h1:after,
.reveal .slides section.transition-white h1:after,
.reveal .slides section.transition-black h1:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 10px;
    background: $red;
}


.reveal .slides section.transition-black h1:after{
    background: $white;
}

.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon{
    top:450px;
    left:10px;
    max-height: 100px;
    max-width: 100px;
}