@import "colors";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";


$width-triangle : 250px;
$width-triangle-bas : 100px;


.reveal .backgrounds .slide-background.first-slide:before{
    content:'';
    position: fixed;    
    top: 0;
    left: calc(50vw - #{$width-triangle});
    left: -webkit-calc(50vw - #{$width-triangle});
    background-image: url(assets/images/triangle_haut.png);
    width: 2 * $width-triangle;
    height: $width-triangle;    
    /*
    width: 0;
    height: 0;
    border-left: $width-triangle solid transparent;
    border-right: $width-triangle solid transparent;
    border-top: $width-triangle solid white;*/
    
}

.reveal .backgrounds .slide-background.first-slide:after{
    content:'';
    position: fixed;
    bottom: 0;
    left: calc(50vw - #{$width-triangle-bas});
    left: -webkit-calc(50vw - #{$width-triangle-bas});
    width: 0;
    height: 0;
    border-left: $width-triangle-bas solid transparent;
    border-right: $width-triangle-bas solid transparent;
    border-bottom: $width-triangle-bas solid white;
    
}

.reveal .slides section.first-slide{
	height: 300px;
    text-align: center;
    padding-top: calc(#{$width-triangle} + 40px);
	padding-top: -webkit-calc(#{$width-triangle} + 40px);
	color: $white;
    text-transform: uppercase;
 
    
    h1{
        font-size: 2em;
 	}

    h2{
        font-size: 1.5em;
    }

    h3{
        position:relative;
    }

    h3:before{
        content:'';
        position: absolute;
        width: 100px;
        height: 5px;
        background:$white;
        bottom: -35px;
        left: 50%;
        margin-left: -50px;
    }

    h3:after{        
        content:'Digital that works.';
        text-transform: none;
        text-align: center;
        position: absolute;
        width: 400px;
        height: 5px;
        bottom: -60px;
        left: 50%;
        margin-left: -200px;
    }
}

.reveal  .slides section.who-am-i{
	
	color : white;
	text-align: center;

	h2{
        text-transform: uppercase;
        color: $black;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    h3{
        color: $red;
		font-size: 1.5em;
		margin-bottom: 20px;	
	}

    img[alt*=avatar]{
        position: absolute;
        left: 100px;
        top: 200px;
        width: 200px;
        margin-top: 20px;
        @include box-shadow(#CCCCCC 2px 2px 2px 3px);
    }

    img[alt*=company_logo]{
        position: absolute;
        top: 480px;
        left: 300px;
        width:150px;
    }

    img[alt*=gdg_logo]{
        position: absolute;
        top: 470px;
        right: 600px;
        width:150px;
    }

    .twitter{
        position:absolute;
        top: 490px;
        left: 800px;
    }

    .gplus{
        position:absolute;
        top: 550px;
        left: 800px;
    }

    .descjf{
        position: absolute;
        color: $white;
        left: 350px;
        top: 320px;
        width: calc(100% - 350px);
        width: -webkit-calc(100% - 350px);
    }
	
}




.reveal  .slides section.last-slide{
	
	color : white;
	text-align: center;

	h1{
        position:absolute;
        color:white;
        font-family: "DIN-Next-LT-Pro-BoldCondensed";
        text-align:center;
        text-overflow:ellipsis;
        text-transform:none;
        @include box-shadow(white 0px 0px 0px);     
        @include text-shadow(rgba(black, 1) 0px 0px 0);
        width:100%;
        left:0;
    }   
    
    .presenter, .work-rule, .topic-title, .email, .thank-message{
        position:absolute;
        text-align: center;
        width: 100%;
        left: 0;
    }

    .presenter{
        color: $red;
        bottom:calc(22vh - 1em);
        height:1.5em;
        line-height:1.5em;
        font-size:1.5em;
        font-weight:600;
    }
    
    .topic-title{
        text-transform: uppercase;
        bottom:22vh;
        height:1.7em;
        font-size:2em;
        line-height:1.7em;
        font-weight:400;
    }
    
    
    .work-rule{
        color:$red;
        bottom:calc(22vh - 5em);
        height:1em;
        font-size:1em;
        line-height:1em;
        font-weight:400;
    }
    
    .email{
        bottom:calc(22vh - 4em);
        height:1em;
        font-size:1em;
        line-height:1em;
        font-weight:400;
    }
    
    .thank-message{
        bottom:calc(22vh - 2em);
        height:2em;
        font-size:2em;
        line-height:2em;
        font-weight:600;
    }
      

	
}

.reveal  .slides section.last-slide:before{
    content: '';
    position:absolute;
    top: 5vh;
    left: 50%;
    width:500px;
    height: 307px;
    margin-left: -250px;
    background:url(assets/images/logo.png);
    background-size : 500px 307px;

}



.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{

	position: absolute;
	width: 100%;
	height: 1.4em;
	font-size: 2.8em;
	line-height: 1.4em;
	padding-left: 20px;
	color: $red;
	text-align: left;
	top: 50%;
    margin-top:-0.7em;

}

.reveal .slides section.transition-black h1{
	color:$white;
}

.reveal .slides section.transition h1{
    background: rgba(255,255,255,0.8);
}

.reveal .slides section[class*="transition"] h1:after,
.reveal .slides section.transition h1:after,
.reveal .slides section.transition-white h1:after,
.reveal .slides section.transition-black h1:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 10px;
    background: $red;
}

.reveal .slides section.transition-black h1:after{
    background: $white;
}


.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon{
    position: absolute;
    top: 50%;
    margin-top:-100px;
    left: -180px;
    max-height: 200px;
    max-width: 200px;
}