/* line 11, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .backgrounds .slide-background.first-slide:before {
  content: '';
  position: fixed;
  top: 0;
  left: calc(50vw - 250px);
  left: -webkit-calc(50vw - 250px);
  background-image: url(assets/images/triangle_haut.png);
  width: 500px;
  height: 250px;
  /*
  width: 0;
  height: 0;
  border-left: $width-triangle solid transparent;
  border-right: $width-triangle solid transparent;
  border-top: $width-triangle solid white;*/
}

/* line 29, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .backgrounds .slide-background.first-slide:after {
  content: '';
  position: fixed;
  bottom: 0;
  left: calc(50vw - 100px);
  left: -webkit-calc(50vw - 100px);
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid white;
}

/* line 43, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide {
  position: absolute;
  top: 0;
  left: 50%;
  width: 800px;
  height: 300px;
  margin-left: -400px;
  text-align: center;
  padding-top: calc(250px + 40px);
  padding-top: -webkit-calc(250px + 40px);
  color: white;
}
/* line 55, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide .logo {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(assets/images/logo_noir.png);
  width: 200px;
  height: 100px;
}
/* line 64, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.first-slide h1 {
  color: white;
}

/* line 69, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i {
  color: white;
  text-align: center;
}
/* line 74, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
/* line 79, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
/* line 84, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i img[alt*=avatar] {
  position: absolute;
  left: 100px;
  top: 200px;
  width: 200px;
  margin-top: 20px;
  -moz-box-shadow: #CCCCCC 2px 2px 2px 3px;
  -webkit-box-shadow: #CCCCCC 2px 2px 2px 3px;
  box-shadow: #CCCCCC 2px 2px 2px 3px;
}
/* line 93, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i img[alt*=company_logo] {
  position: absolute;
  top: 480px;
  left: 300px;
  width: 150px;
}
/* line 100, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i img[alt*=gdg_logo] {
  position: absolute;
  top: 470px;
  right: 600px;
  width: 150px;
}
/* line 107, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i .twitter {
  position: absolute;
  top: 490px;
  left: 800px;
}
/* line 113, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i .gplus {
  position: absolute;
  top: 550px;
  left: 800px;
}
/* line 119, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.who-am-i .descjf {
  position: absolute;
  color: white;
  left: 350px;
  top: 320px;
  width: calc(100% - 350px);
  width: -webkit-calc(100% - 350px);
}

/* line 133, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide {
  color: white;
  text-align: center;
}
/* line 138, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1 {
  position: absolute;
  color: white;
  font-family: "DIN-Next-LT-Pro-BoldCondensed";
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  -moz-box-shadow: white 0px 0px 0px;
  -webkit-box-shadow: white 0px 0px 0px;
  box-shadow: white 0px 0px 0px;
  text-shadow: black 0px 0px 0;
  width: 100%;
  left: 0;
}
/* line 151, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.presenter {
  top: 1.5em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  font-weight: 600;
}
/* line 159, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.topic-title {
  top: 0;
  height: 1.7em;
  font-size: 2em;
  line-height: 1.7em;
  font-weight: 400;
}
/* line 168, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.work-rule {
  top: calc(50% + 150px);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}
/* line 176, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.email {
  top: calc(50% + 150px + 2em);
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
}
/* line 184, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide h1.thank-message {
  bottom: 0em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  font-weight: 600;
}
/* line 193, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.last-slide img[alt*=avatar], .reveal .slides section.last-slide img.avatar {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

/* line 206, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1 {
  position: absolute;
  width: 100%;
  height: 1.4em;
  font-size: 2.8em;
  line-height: 1.4em;
  padding-left: 20px;
  color: #da181a;
  text-align: left;
  top: 50%;
  margin-top: -0.7em;
}

/* line 224, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition-black h1 {
  color: white;
}

/* line 228, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition h1 {
  background: rgba(255, 255, 255, 0.8);
}

/* line 232, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section[class*="transition"] h1:after,
.reveal .slides section.transition h1:after,
.reveal .slides section.transition-white h1:after,
.reveal .slides section.transition-black h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 10px;
  background: #da181a;
}

/* line 245, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition-black h1:after {
  background: white;
}

/* line 250, ../../../../scss/theme/2015/sqli/specifics_slides.scss */
.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: -180px;
  max-height: 200px;
  max-width: 200px;
}

/*# sourceMappingURL=specifics_slides.css.map */
