@import "./colors";
/**
* CSS VARIABLES : CSS
*/

#demo-detect-label {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50%;
    //grid-auto-rows: 50%;
}


#demo-detect-label #targetVision,
#demo-detect-label #mirror-label {
    position: relative;
    margin: 15px;
    grid-column: 1  / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    border: dashed thin black;
    border-radius: 30px;
}

#demo-detect-label #mirror-label{
    align-self: center;
    justify-self: center; 

}

#demo-detect-label #labels-detected {
    position: relative;
    margin: 15px;
    grid-column: 2;
    grid-row: 1;
}

.hide, 
#demo-detect-label #targetVision.hide, 
#demo-detect-label #mirror-label.hide {
    display: none;
}

#demo-detect-label #mirror-label.with-label {
    grid-column: 1;
}

#demo-detect-label button {
    height: 4em;
    font-size: .5em;
}

