@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";


.reveal .slides > section{
    footer{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:48pt;        
        background-position: 0 calc(48pt - 3pt);
        z-index: -2;
    }

    footer:after{
        position:absolute;
        content:' Gdg';
        padding-left:calc(1.3em + 5pt);
        font-size:0.6em;
        font-weight:600;
        bottom:10pt;
        left:10pt;
        width:50%;
        height:2.24em;
        
        background: url(./images/logo_gdg.png) no-repeat -0pt 00pt;
        background-size: 1.3em 2.24em;
        
    }


    img[alt*=icon], img.icon{
        position: absolute;
        right: 5%;
        top: 45%;
        width: 20%;
        min-height:100pt;
    }
    
    img[alt*=h-100], .h-100, .h-100+*{height:auto;}
    img[alt*=h-200], .h-200, .h-200+*{height:auto;}
    img[alt*=h-300], .h-300, .h-300+*{height:auto;}
    img[alt*=h-400], .h-400, .h-400+*{height:auto;}
    img[alt*=h-500], .h-500, .h-500+*{height:auto;}
    img[alt*=h-600], .h-600, .h-600+*{height:auto;}
    img[alt*=h-700], .h-700, .h-700+*{height:auto;}
    img[alt*=h-800], .h-800, .h-800+*{height:auto;}
    img[alt*=h-900], .h-900, .h-900+*{height:auto;}
    
    img[alt*=w-100], .w-100, .w-100+*{width:auto;}
    img[alt*=w-200], .w-200, .w-200+*{width:auto;}
    img[alt*=w-300], .w-300, .w-300+*{width:auto;}
    img[alt*=w-400], .w-400, .w-400+*{width:auto;}
    img[alt*=w-500], .w-500, .w-500+*{width:auto;}
    img[alt*=w-600], .w-600, .w-600+*{width:auto;}
    img[alt*=w-700], .w-700, .w-700+*{width:auto;}
    img[alt*=w-800], .w-800, .w-800+*{width:auto;}
    img[alt*=w-900], .w-900, .w-900+*{width:auto;}
    
    img[alt*=hp-100], .hp-100, .hp-100+*{height:100pt;}
    img[alt*=hp-200], .hp-200, .hp-200+*{height:200pt;}
    img[alt*=hp-300], .hp-300, .hp-300+*{height:300pt;}
    img[alt*=hp-400], .hp-400, .hp-400+*{height:400pt;}
    img[alt*=hp-500], .hp-500, .hp-500+*{height:500pt;}
    img[alt*=hp-600], .hp-600, .hp-600+*{height:600pt;}
    img[alt*=hp-700], .hp-700, .hp-700+*{height:700pt;}
    img[alt*=hp-800], .hp-800, .hp-800+*{height:800pt;}
    img[alt*=hp-900], .hp-900, .hp-900+*{height:900pt;}
    
    img[alt*=wp-100], .wp-100, .wp-100+*{width:100pt;}
    img[alt*=wp-200], .wp-200, .wp-200+*{width:200pt;}
    img[alt*=wp-300], .wp-300, .wp-300+*{width:300pt;}
    img[alt*=wp-400], .wp-400, .wp-400+*{width:400pt;}
    img[alt*=wp-500], .wp-500, .wp-500+*{width:500pt;}
    img[alt*=wp-600], .wp-600, .wp-600+*{width:600pt;}
    img[alt*=wp-700], .wp-700, .wp-700+*{width:700pt;}
    img[alt*=wp-800], .wp-800, .wp-800+*{width:800pt;}
    img[alt*=wp-900], .wp-900, .wp-900+*{width:900pt;}

    div.hidden-print+*{
        display:none;   
    }
    
    img[alt*=title], img.title{
        position:absolute;
        max-width:50%;
        height:400px;
        min-height:400px;
        top:10%;
        left:50%;
        margin-left:-25%;
    }
    
    div.photo-slide~h1{
        z-index:100;    
    }
    
     div.photo-slide~* img[alt*=photo-slide], img.photo-slide{
        min-height:500pt;
    }

     div.last-slide~* img[alt*=avatar], div.last-slide~* img.avatar{
        width: 100pt;
        min-height: 100pt;
        height: auto;
        top: 200pt;
        margin-left: -50pt;
        margin-top: 0;
    }
}



