// Rye


@font-face {
    font-family: 'Rye';
    src: url('../../assets/fonts/Rye-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


// Oswald

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}


.reveal{
	font-family: 'Oswald', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4,
.reveal .slides section.with-code h1, .reveal .slides section.with-code h2{
    font-family: 'Rye', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
    font-weight: 400;
}
