#ishoudiniready{
	display: grid;
	$firstcol: 200px;
	$othercol: 150px;
	$firstrow: 90px;
	$otherrow: 70px;
	grid-template-columns: $firstcol $othercol $othercol $othercol $othercol $othercol $othercol;
	grid-template-rows: $firstrow $otherrow $otherrow $otherrow $otherrow $otherrow $otherrow $otherrow;
	font-size:25px;
	text-align: center;

	img{
		width:50px;
		margin:auto;
	}

	.browser{
		display: grid;
		grid-template-columns: $othercol;
		grid-template-rows: $firstrow $otherrow $otherrow $otherrow $otherrow $otherrow $otherrow $otherrow;
		grid-column: 1;
		grid-row: 1 / span 8;
		&.spec{
			grid-template-columns: $firstcol;

		}

		&.safari{
			grid-column: 2;
		}
		&.chrome{
			grid-column: 3;
		}
		&.edge{
			grid-column: 4;
		}
		&.firefox{
			grid-column: 5;
		}
		&.opera{
			grid-column: 6;
		}
		&.w3c{
			grid-column: 7;
		}
		div{
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.no-signal{
			background: #643B0F;
			color:white;
		}
		.partial{
			background: #E4B04A;
		}
		.dev{
			background: #EFE0B9;
			color:black;
		}
		.available{
			background: green;
			color:white;
		}
		.intent{
			background: purple;
			color:white;
		}
	}
}