@import "compass";
@import "colors";
@import "fonts";
@import "tableaux";
@import "specifics_slides";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";


body, html{ 
	background:$page-bg-color;
}

.reveal{ 
    /*font-size: 1.25em;*/
}




.reveal .slides>section , .reveal .slides>section>section{

	width: 100%;
	height: calc(100% - 40px);
	height: -webkit-calc(100% - 40px);
	background: $white;

    h1, h2{
        /*font-size: 1.5em;*/
    }
   
}
