.binomed-red {
  color: #e74c3c; }

.binomed-light-grey {
  color: #ddd; }

.binomed-black {
  color: #333; }

.binomed-dark-grey {
  color: #3d4349; }

.binomed-medium-grey {
  color: #817c7c; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRoZW1lLzIwMTUvYmlub21lZC9jb2xvcnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUF3QkEsWUFBWSxDQUFBO0VBQ1gsS0FBSyxFQWpCQSxPQUFPLEdBa0JaOztBQUdELG1CQUFtQixDQUFBO0VBQ2xCLEtBQUssRUE1Qk8sSUFBSSxHQTZCaEI7O0FBRUQsY0FBYyxDQUFBO0VBQ2IsS0FBSyxFQTdCRSxJQUFJLEdBOEJWOztBQUVELGtCQUFrQixDQUFBO0VBQ2pCLEtBQUssRUFoQ0ssT0FBTyxHQWlDakI7O0FBRUQsb0JBQW9CLENBQUE7RUFDbkIsS0FBSyxFQXRDTyxPQUFPLEdBdUNuQiIsImZpbGUiOiJ0aGVtZS8yMDE1L2Jpbm9tZWQvc3BlY2lmaWNzX3NsaWRlc19wcmludC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJcblxuJGxpZ2h0LWdyZXk6ICNkZGQ7XG4kd2hpdGU6IHdoaXRlO1xuJG1lZGl1bS1ncmV5OiAjODE3YzdjO1xuJGJsYWNrOiAjMzMzO1xuJGRhcmstZ3JleTogIzNkNDM0OTtcbiRkYXJrLWdyZXktYWxwaGEgOiByZ2JhKDYxLDY3LDczLDAuNyk7XG4kcmVkOiAjZTc0YzNjO1xuXG4vLyBCYWNrZ3JvdW5kIENvbG9yc1xuJHBhZ2UtYmctY29sb3I6JGxpZ2h0LWdyZXk7XG4kc2xpZGUtYmctY29sb3I6ICR3aGl0ZTtcbiRoZWFkZXItY29sb3I6ICRkYXJrLWdyZXk7XG5cbi8vIFRleHQgQ29sb3JzXG4kbWFpbi10aXRsZS1jb2xvciA6ICRyZWQ7XG4kdGl0bGUtY29sb3IgOiAkbWVkaXVtLWdyZXk7XG4kdGV4dC1jb2xvciA6ICRibGFjaztcblxuQG1peGluIGRyb3BzaGFkb3coKXtcblx0Ym94LXNoYWRvdzogMnB4IDRweCA1cHggcmdiYSgzLDMsMywwLjIpO1xufVxuXG4uYmlub21lZC1yZWR7XG5cdGNvbG9yOiAkcmVkO1xufVxuXG5cbi5iaW5vbWVkLWxpZ2h0LWdyZXl7XG5cdGNvbG9yOiAkbGlnaHQtZ3JleTsgXG59XG5cbi5iaW5vbWVkLWJsYWNre1xuXHRjb2xvcjokYmxhY2s7XG4gfVxuXG4gLmJpbm9tZWQtZGFyay1ncmV5e1xuIFx0Y29sb3I6JGRhcmstZ3JleTtcbiB9XG5cbiAuYmlub21lZC1tZWRpdW0tZ3JleXtcbiBcdGNvbG9yOiAkbWVkaXVtLWdyZXk7XG4gfVxuIl0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */
