table {
  width: 100%;
  border-collapse: -moz-initial;
  border-collapse: initial;
  border-spacing: 2px;
  
}

table tr:nth-child(odd) {
  background-color: rgba(214,14,26,.2);
}
table tr:nth-child(even) {
  background-color: rgba(214,14,26,.1);
}

table th {
  color: white;
  font-size: 18px;
  background: #DA0E1A;
}

table td, table th {
  font-size: 18px;
  padding: 1em 0.5em;
}

table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -ms-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}

table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
} 