@import "compass";
@import "fonts";
@import "colors";
@import "tableaux";
@import "specifics_slides";
 


$margin-lr : 40px;
$margin-title : 30px;
$margin-section : 20px;
$footer-height-title : 60px;
$footer-bottom-title : 30px;
$footer-height : 45px;
$footer-bottom : 20px;
$header-white-height : 120px;
$header-red-height : 60px;
$logo_sqli_width : 49px;
$logo_sqli_height : 48px;
$logo_header_white_width : 283px;
$logo_header_white_height : 283px;
$logo_header_red_width : 137px;
$logo_header_red_height : 137px;
$logo_sqli_ratio : $logo_sqli_width / $logo_sqli_height;
$logo_header_white_ratio : $logo_header_white_width / $logo_header_white_height;
$logo_header_red_ratio : $logo_header_red_width / $logo_header_red_height;


::selection {
  color: white;
  background: #333333;
  text-shadow: none; 
}

/*
*
* Controls
*
*/

.reveal .controls div.navigate-left, 
.reveal .controls div.navigate-left.enabled{
  border-right-color: $red;
}

.reveal .controls div.navigate-right, 
.reveal .controls div.navigate-right.enabled{
  border-left-color: $red;
}

.reveal .controls div.navigate-up, 
.reveal .controls div.navigate-up.enabled{
  border-bottom-color: $red;
}

.reveal .controls div.navigate-down, 
.reveal .controls div.navigate-down.enabled{
  border-top-color: $red;
}

/*
 *
 * PROGRESS BAR
 *
 */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: $red;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); 
}

/*
* Footer /  Header
*/

footer.sqli-footer:after{
    content: 'SQLI Entreprise - SQLI GROUP | 2015';
    white-space: pre;
    position: absolute;
    color:$grey;
    bottom: 0;
    left: $margin-lr;
    width:calc(100% - #{$margin-lr} - #{$margin-lr});
    width:-webkit-calc(100% - #{$margin-lr} - #{$margin-lr});
    height:$footer-height;
    padding-left: 60px;
    line-height: 1em;
    font-size: 0.8em;
    text-transform: uppercase;
    background-image: url('assets/images/logo_sstxt.png');
    background-size: ($logo_sqli_ratio * $footer-height) $footer-height;
    background-position: 100% 0;
    background-repeat: no-repeat;
}




/*
* Commons Slides
*/
.reveal .slides section{
  position:absolute;
  height:calc(100% - 60px);
  height:-webkit-calc(100% - 60px);
  width: calc(100% - #{$margin-lr} - #{$margin-lr});
  padding:$margin-section $margin-lr $footer-height $margin-lr;  
  z-index: -2;
}
 
.reveal .slides section:not(.first-slide):not(.who-am-i):not([data-background]):not([class*="transition"]):not(.transition):not(.transition-white):not(.transition-black){
//.reveal .slides>section{
  /*position:absolute;
  height:calc(100% - 60px);
  height:-webkit-calc(100% - 60px);*/
  text-align:left;
  /*width: calc(100% - #{$margin-lr} - #{$margin-lr});
  padding:$margin-section $margin-lr $footer-height $margin-lr;  
  z-index: -2;*/
  

  h1, h2{
    text-transform: uppercase;
    position: relative;
    color : $black;    
    font-size: 1.5em;
  }

  h1, h2, h3{
      margin-bottom: 50px;
      text-align: left;
  }

  h1~h2, h2~h3, h1~h3{
    margin-top: -30px;
    text-transform: uppercase;
    color: $red;
  }

  h1:before, h2:before{
    content:'';
    position: absolute;
    width: 100px;
    height: 10px;
    background: $black;
    left: 0;
    top: -30px;
  }

}

.reveal .slides>section>section h2{
  //font-size: 1em;
}

/*
* Titles Management  and Spaces
*/

.reveal .slides>section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black)
, .reveal .slides>section>section:not(.first-slide):not(.who-am-i):not(.transition):not(.transition-white):not(.transition-black){
  

  h1~:not(h2), h2~:not(h3){
    margin-top: $margin-title;
  }

}



ul {
    margin: 10px 10px;
}


/*
 
 Citations

*/


.reveal .slides section{

  blockquote {
    padding: 0 0 0 15px;
    margin: 2em 2em 0 2em;
    border-left: 5px solid #DA0E1A;
    font-size: 0.7em;
  }

  blockquote:before {
    color: #DA0E1A;
    content: '\201C';
    font-size: 4em;
    font-weight: 700;
    float: left;
    margin-left: -.9em;
  }

  section blockquote p {
    color: #1D2326;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: .5em;
    font-style: italic;
    font-size: 3.5em;
    font-weight: normal;
  }

  blockquote p em {
    font-style: italic;
  }

  blockquote p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0.1em;
  }

  blockquote cite {
    font-size: 1.5em;
    display: block;
    line-height: 1.8;
    color: rgba(0, 13, 23, 0.7);
    font-style: normal;
    margin-top: .25em;
  }

  blockquote cite:before {
    content: '\2014 \00A0';
  }
}

/*
  Listes
*/
li{
  margin-top: 0.7em;
}

.reveal .slides section ul > li, 
.reveal .slides section ul > li > ul > li, 
.reveal .slides section ul > li,
.reveal .slides section ul > li > ul > li
{
  list-style: none;
}
.reveal .slides section ul > li:before, 
.reveal .slides section div > ul > li:before, 
.reveal .slides section ul > li:before{
  content: '+';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -0.7em;
  top: -0.1em;
  color: #DA0E1A;
  font-size: 2em;
}

.reveal .slides section ul >li > ul > li:before, 
.reveal .slides section ul >li > ul > li:before{
content: " ";
padding-right: 14px;
display: block;
position: relative;
left: -0.7em;
top: 0.3em;
width: 0;
height: 0;
border-bottom: 10px solid transparent;
border-left: 10px solid rgba(0, 143, 255,1);
  }
 


/*

Code

*/
.reveal .slides section pre:not(.literal) code {
  font-family: "Courier New", monospace;
  font-size: 0.7em;
  line-height: 0.8em;
  
}

.reveal .slides section p.big-code~pre:not(.literal) code{
  font-size: 1em;
  line-height: 1.1em;
  
}


/*
* Links
*/

.reveal a:not(.image) {
  color: $red;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:not(.image):hover {
  color: $red;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: white;
  background: $red; 
}

.reveal .slides .toc a {
  color: inherit; 
}

